/**
 * Badge component responsible for styling different kinds of badges.
 */

.#{$namespace}badge {
    $root: &;
    font-size: 1rem;
    border-radius: 50%;
    text-align: center;
    color: $colorWhite;
    background: $colorCrimson;
    box-shadow: 0 0 0 0.1rem $colorWhite !important;
    transform: skew(0);
    padding: 0.1rem 0.15rem 0.2rem 0.2rem;

    &--attention {
        background-color: $colorCrimson;

        &:before {
            background-color: $colorCrimson;
        }

        #{$root}__span {
            color: $colorWhite;
            font-weight: 400;
        }
    }

    &--info {
        background-color: $color-first;

        &:before {
            background-color: $color-first;
        }

        #{$root}__span {
            color: $colorWhite;
        }
    }

    &--amount {
        background-color: $colorCeruleanBlue;

        #{$root}__span {
            color: $colorWhite;
        }
    }

    &--new {
        background-color: $colorGold;

        &:before {
            background-color: $colorGold;
        }

        #{$root}__span {
            color: $colorMineShaft;
        }
    }

    &--label {
        transform: skew(-15deg);
        line-height: 1;
        box-shadow: none;
        text-indent: -0.5rem;
        border-radius: 3px;

        #{$root}__span {
            font-size: 1.2rem;
            text-transform: uppercase;
            transform: skew(15deg);
            font-weight: 400;
        }

        &#{$root}--new #{$root}__span {
            font-weight: 700;
        }
    }

    &--label-big {
        transform: skew(-15deg);
        height: 2.7rem;
        line-height: 1;
        box-shadow: none;
        border-radius: 3px;

        #{$root}__span {
            font-weight: 400;
            font-size: 1.5rem;
            text-transform: uppercase;
            transform: skew(18deg);
        }
    }

    &--cut {
        #{$root}__span {
            transform: skew(15deg);
        }

        &:before {
            transform: skew(15deg);
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        #{$root}__span {
            transform: skew(15deg) translateX(-0.5rem);
        }
    }

    &__span {
        color: $colorWhite;
        font-weight: 400;
        transform: skew(0);
        padding-top: 0.1rem;
    }
}
