/**
 * Badge component responsible for styling different kinds of badges.
 */

.#{$namespace}badge {
    $root: &;
    border-radius: 50%;
    text-align: center;
    color: $colorWhite;
    background: $color-badge-discount;
    box-shadow: 0 0 0 0.1rem $colorWhite !important;
    transform: skew(0deg);
    padding: 0.1rem 0.15rem 0.2rem 0.2rem;

    .#{$namespace}grid-product__badge & {
        height: 5.9rem;
        width: 5.9rem;

        #{$root}__span {
            font-weight: 700;
            font-size: 2.1rem;
            text-transform: none;
            transform: skew(0deg);
            line-height: 5.7rem;
            width: 100%;
            padding-top: 0.3rem;
        }
    }

    .#{$namespace}grid-product__badge &--discount {
        #{$root}__span {
            font-weight: 400;
            font-size: 1.8rem;
            padding-top: 0.4rem;
        }
    }

    &--short {
        max-width: min-content;

        #{$root}__span {
            max-width: min-content;
            margin-left: 0.1rem;
            margin-right: 0.1rem;
        }
    }

    &:before {
        display: none;
    }

    &--attention {
        background-color: $color-badge-discount;

        #{$root}__span {
            color: $colorWhite;
            font-weight: 400;
        }
    }

    &--info {
        background-color: $color-first;

        #{$root}__span {
            color: $colorWhite;
        }
    }

    &--amount {
        background-color: $color-first;

        #{$root}__span {
            color: $colorWhite;
        }
    }

    &--new {
        background-color: $color-badge-new;

        #{$root}__span {
            color: $colorWhite;
        }
    }

    &--label {
        transform: skew(0deg);
        text-indent: 0;
        border-radius: 50%;

        #{$root}__span {
            font-size: 2.1rem;
            text-transform: none;
            transform: skew(0deg);
            font-weight: 700;
        }
    }

    &--label-big {
        transform: skew(0deg);
        height: 5.9rem;
        width: 5.9rem;
        border-radius: 50%;

        #{$root}__span {
            font-weight: 700;
            font-size: 2.1rem;
            text-transform: none;
            transform: skew(0deg);
            line-height: 5.7rem;
        }

        &.#{$namespace}badge--attention {
            #{$root}__span {
                font-size: 1.8rem;
                font-weight: 400;
            }
        }
    }

    &--cut {
        #{$root}__span {
            transform: skew(0deg);
        }

        #{$root}__span {
            transform: skew(0deg);
        }
    }

    &__span {
        color: $colorWhite;
        font-weight: 700;
        transform: skew(0deg);
        padding-top: 0.1rem;
    }
}
