.#{$namespace}minicart-product {
    &__name {
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: none;
        color: $colorMineShaft;

        &:visited,
        &:hover {
            text-decoration: none;
            color: $colorMineShaft;
        }
    }

    .price {
        font-size: 1.4rem !important;
        font-weight: 700;
    }

    &__options-label {
        font-size: 1.1rem;
        font-weight: 700;
        text-transform: uppercase;

        .minicart-price {
            font-size: 1.1rem !important;
            font-weight: 400 !important;
            color: $colorMineShaft !important;
        }
    }

    &__options-value {
        font-size: 1.2rem;
        color: $colorDoveGray;

        &--price-minicart {
            .price {
                font-size: 1.1rem !important;
                font-weight: 400 !important;
            }
        }
    }

    &__price {
        color: $colorDoveGray;
        font-weight: 700;
    }
}
