.#{$namespace}minicart-product {
    &__name {
        font-size: 1.4rem;
        font-weight: 400;
        text-decoration: none;
        color: $colorWoodsmoke;

        &:visited,
        &:hover {
            text-decoration: none;
            color: $colorWoodsmoke;
        }
    }

    .price {
        font-size: 1.4rem !important;
        font-weight: 700;
    }

    &__options-group {
        justify-content: initial;
    }

    &__options-label {
        font-size: 1.1rem;
        font-weight: 400;
        text-transform: capitalize;

        .minicart-price {
            font-size: 1.1rem !important;
            font-weight: 700 !important;
            color: $colorWoodsmoke !important;
        }
    }

    &__options-value {
        font-size: 1.1rem;
        color: $colorWoodsmoke;
        font-weight: 700;

        &--price-minicart {
            .price {
                font-size: 1.1rem !important;
                font-weight: 700 !important;
            }
        }

        .#{$namespace}minicart-product__options-group--price & {
            transform: translateY(-0.4rem);
        }
    }

    &__price {
        color: $colorDoveGray;
        font-weight: 700;
    }
}
