.#{$namespace}modal {
    $root: &;

    &__title {
        border-bottom: 1px solid $color-line;
    }

    &__footer {
        border-top: 1px solid $color-line !important;
    }

    .#{$namespace}form__field .field-tooltip .field-tooltip-content {
        font-size: 1.1rem;
        color: $color-success;
    }

    &__block-authentication-section {
        &:nth-child(2n + 2) {
            @include media('>=tablet') {
                border-left: 1px solid $color-line;
            }
        }
    }
}
