.#{$namespace}review {
    font-size: inherit;

    &__title {
        color: $color-text-dark;
        line-height: 3rem;
    }

    &__rating {
        display: inline-block;
        margin-bottom: 0;
        margin-right: -0.5rem;
    }

    &__meta {
        display: inline-block;
        font-size: 1.3rem;
        margin: 0 0 1.5rem;
    }

    &__author {
        color: $color-headline;
    }

    &__date {
        color: $color-paragraph-light;
    }

    &__meta-item:first-child {
        padding-left: 1rem;
        border-left: 1px solid $color-line;
        border-right: 1px solid $color-line;
    }

    &__content {
        color: $color-paragraph;
    }
}
