.#{$namespace}review {
    font-size: inherit;

    &__title {
        color: $colorMineShaft;
    }

    &__meta {
        font-size: 1.25rem;
    }

    &__author {
        color: $colorMineShaft;
    }

    &__date {
        color: $colorGray;
    }

    &__meta-item {
        border-right: 1px solid $color-line;
    }

    &__content {
        color: $colorGray;
    }
}
