.#{$namespace}category-links {
    $root: &;
    font-size: 1.2rem;

    &__subtitle {
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 1px solid $color-line;
    }

    &__list-wrapper {
        @include media('<tablet') {
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
        }
    }

    &__list-all {
        @include media('>=tablet') {
            text-transform: uppercase;
            border: none;

            &:before {
                border-left: 1px solid $color-line;
            }
        }

        &-item {
            #{$root}__link {
                &:hover {
                    color: $colorMineShaft;

                    @include media('>=tablet') {
                        border-radius: 4px;
                        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
                    }

                    #{$root}__qty {
                        color: $colorMineShaft;
                    }
                }
            }
        }

        &-icon {
            fill: $colorGray;
        }
    }

    &__link {
        font-weight: 700;
        color: $colorMineShaft;

        &:visited {
            color: $colorMineShaft;
        }

        &:hover,
        &:hover #{$root}__qty {
            text-decoration: none;
            color: $colorCeruleanBlue;
        }
    }

    &__qty {
        font-weight: 400;
        color: $colorGray;
    }
}

.#{$namespace}category-links-dropdown {
    $root: &;

    &__trigger {
        &:before,
        &:after {
            background: $colorGray;
        }

        &--in {
            border-color: $colorWhite;
        }
    }

    &--no-subcats {
        #{$root}__content {
            @include media('<tablet') {
                box-shadow: none;
            }
        }
    }
}
