.#{$namespace}button {
    $root: &;
    font-size: 1.4rem;
    border-radius: 3px;
    padding: 0.9rem 2.2rem 0.9rem 1.5rem;
    min-width: 12.2rem;
    color: $colorWhite;
    border-color: $colorCeruleanBlue;
    background: $colorCeruleanBlue;
    font-weight: 700;
    min-height: 4rem;

    @include media('>=phone-lg') {
        padding: 0.9rem 3.5rem 0.9rem 2.5rem;
    }

    &:focus,
    &:active {
        color: $colorWhite;
        border-color: $colorCeruleanBlueHover;
        background-color: $colorCeruleanBlueHover;
        box-shadow: none;
    }

    &:visited {
        color: $colorWhite;
    }

    &:focus {
        outline: none;
    }

    &--look {
        &_default {
            border: 1px solid $colorCeruleanBlue;
            color: $colorWhite;
            border-color: $colorCeruleanBlue;
            background-color: $colorCeruleanBlue;

            &:hover,
            &:active,
            &:focus {
                border: 1px solid $colorCeruleanBlueHover;
                color: $colorWhite;
                border-color: $colorCeruleanBlueHover;
                background-color: $colorCeruleanBlueHover;
            }

            &:visited {
                color: $colorWhite;
                border-color: $colorCeruleanBlue;
                background: $colorCeruleanBlue;

                &:hover,
                &:active,
                &:focus {
                    border: 1px solid $colorCeruleanBlueHover;
                    color: $colorWhite;
                    border-color: $colorCeruleanBlueHover;
                    background-color: $colorCeruleanBlueHover;
                }
            }
        }

        &_light {
            border: 1px solid $colorCeruleanBlue;
            background-color: transparent;
            color: $colorCeruleanBlue;
            border-color: $colorCeruleanBlue;

            &:hover,
            &:active,
            &:focus {
                border: 1px solid $colorCeruleanBlueHover;
                background-color: $colorCeruleanBlueHover;
                border-color: $colorCeruleanBlueHover;
                color: $colorWhite;

                #{$root}__icon {
                    fill: $colorWhite;
                }
            }

            &:visited {
                background-color: transparent;
                color: $colorCeruleanBlue;
                border-color: $colorCeruleanBlue;

                &:hover,
                &:active,
                &:focus {
                    border: 1px solid $colorCeruleanBlueHover;
                    background-color: $colorCeruleanBlueHover;
                    border-color: $colorCeruleanBlueHover;
                    color: $colorWhite;

                    #{$root}__icon {
                        fill: $colorWhite;
                    }
                }
            }

            #{$root}__icon {
                fill: $colorCeruleanBlue;
            }
        }

        &_square {
            min-width: 7rem;
        }

        &_remove {
            width: 3.1rem;
            height: 2.9rem;
            border: 1px solid $colorGray;
            border-radius: 3px;

            &:hover {
                border: 1px solid $colorCeruleanBlueHover;

                #{$root}__remove-icon {
                    fill: $colorCeruleanBlueHover;
                }
            }
        }

        &_on-input {
            min-width: 5rem;
            transform: skew(-18deg) translateX(1rem);
            border-radius: 0;
            border: none;

            &:hover {
                border: none;
            }

            #{$root}__icon {
                transform: skew(18deg) translate(-50%, -50%);
            }

            &[disabled] {
                &:hover {
                    background-color: $colorCeruleanBlueHover;

                    &:before {
                        background-color: $colorCeruleanBlueHover;
                    }
                }
            }
        }
    }

    &--size {
        &_300 {
            line-height: 1.2rem;
            font-size: 1.2rem;
            min-height: 3rem;
            min-width: 11rem;
            @include media('>=phone-lg') {
                padding: 0.8rem 3rem 0.8rem 2.5rem;
            }
        }
    }

    &--type {
        //This type is very specific to creativeshop and probably should be reset to normal button/after should be set to display: none
        &_long {
            min-width: 17rem;
            padding-right: 6rem;
            text-indent: 2rem;

            &:after {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                background: $colorCeruleanBlueHover;
                transform: skew(-18deg) translateX(1rem);
            }
        }

        &_cart {
            @extend .cs-button--look_default;
            @extend .cs-button--type_long;

            &:after {
                width: 6.5rem;
            }
        }

        &_more-content {
            margin: 2rem 0;
            padding: 1.4rem 3.5rem 1.4rem 2.5rem;
            min-width: 27rem;
            font-size: 1.5rem;
            font-weight: 700;
            color: $colorCeruleanBlue;
            background: transparent;
            border: none;
            border-radius: 4px;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);

            &:hover,
            &:active,
            &:focus {
                color: $colorWhite;
                background: $colorCeruleanBlue;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
            }

            &:visited {
                color: $colorCeruleanBlue;

                &:hover,
                &:active,
                &:focus {
                    color: $colorWhite;
                    background: $colorCeruleanBlue;
                    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
                }
            }

            #{$root}__span {
                font-weight: 400;
            }

            #{$root}__icon {
                right: 2rem;
                width: 1rem;
                height: 1.4rem;
            }
        }
    }

    &__icon {
        width: 0.7rem;
        height: 1.1rem;
        right: 1rem;

        &--search {
            width: 1.6rem;
            height: 2.2rem;
        }

        &--plus {
            width: 1.1rem;
            height: 1.1rem;
            margin-left: -0.2rem;
        }

        &--cart {
            width: 2.5rem;
            height: 2.5rem;
            margin-left: -0.8rem;
        }

        &--bg {
            background-image: url('images/button-arrow-light.png');

            #{$root}--look_light & {
                background-image: url('images/button-arrow-dark.png');
            }

            #{$root}--look_light:hover & {
                background-image: url('images/button-arrow-light.png');
            }
        }
    }

    &__remove-icon {
        padding: 1rem 1.1rem;
        width: 1rem;
        height: 1rem;
        fill: $colorGray;

        &:hover {
            fill: $colorCeruleanBlue;
        }
    }
}
