.#{$namespace}button {
    $root: &;
    border-radius: 0.5rem;
    border-color: $color-first;
    background: $color-first;
    color: $colorWhite;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0.75rem 2.5rem;

    &:focus,
    &:active,
    &:hover {
        color: $colorWhite;
        background-color: $color-second;
        border: 0.2rem solid $color-second;
    }

    &--look {
        &_default {
            border: 0.2rem solid $color-border-first;
            color: $colorWhite;

            &:hover,
            &:active,
            &:focus {
                border: 0.2rem solid $color-second;
                color: $colorWhite;
                background-color: $color-second;
            }

            &:visited {
                border: 0.2rem solid $color-second;
                color: $colorWhite;
                border-color: $color-first;
                background: $color-first;

                &:hover,
                &:active,
                &:focus {
                    border: 0.2rem solid $color-second;
                    color: $colorWhite;
                    background-color: $color-second;
                }
            }
        }

        &_light {
            border: 0.2rem solid $color-first;
            background-color: $colorWhite;
            color: $color-first;
            border-color: $color-first;

            &:hover,
            &:active,
            &:focus {
                border: 0.2rem solid $color-first;
                background-color: $color-first;
                color: $colorWhite;

                #{$root}__icon {
                    fill: $color-first;
                }
            }

            &:visited {
                background-color: $colorWhite;
                color: $color-first;
                border-color: $color-border-first;

                &:hover,
                &:active,
                &:focus {
                    border: 0.2rem solid $color-first;
                    background-color: $color-first;
                    color: $colorWhite;

                    #{$root}__icon {
                        fill: $colorWhite;
                    }
                }
            }

            #{$root}__icon {
                fill: $color-first;
            }
        }

        &_square {
            min-width: 7rem;
        }

        &_remove {
            width: 3.1rem;
            height: 2.9rem;
            border: 1px solid $colorGray;
            border-radius: 3px;

            &:hover {
                border: 1px solid $color-first;

                #{$root}__remove-icon {
                    fill: $color-first;
                }
            }
        }

        &_on-input {
            min-width: 5rem;
            transform: skew(0) translateX(0);
            border: none;
            border-left: 0.1rem solid $color-border-second;
            border-radius: 0;
            background-color: transparent;

            &:hover {
                border: none;
                border-left: 0.1rem solid transparent;
                background: $color-first;

                #{$root}__icon {
                    transform: skew(0deg) translate(-50%, -50%);
                }
            }

            #{$root}__icon {
                transform: skew(0deg) translate(-50%, -50%);
            }

            &[disabled] {
                &:hover {
                    background-color: $color-first;

                    &:before {
                        background-color: $color-first;
                    }
                }
            }
        }
    }

    &--size {
        &_300 {
            line-height: 1.2rem;
            font-size: 1.2rem;
            min-height: 3rem;
            min-width: 11rem;

            @include media('>=phone-lg') {
                padding: 0.8rem 3rem 0.8rem 2.5rem;
            }
        }
    }

    &--type {
        &_long {
            min-width: 17rem;
            padding-right: 6rem;
            text-indent: 2rem;

            &:after {
                display: none;
            }
        }

        &_cart {
            @extend .cs-button--look_default;
            @extend .cs-button--type_long;
            background: $colorWhite;
            color: $color-first;

            #{$root}__icon {
                fill: $color-first;
            }

            &:after {
                width: 6.5rem;
            }
        }

        &_cart-short {
            border: 0.2rem solid $color-border-second;
            background-color: $colorWhite;
            border-color: $color-border-second;
            min-width: min-content;
            padding: 0;
            width: 5rem;

            #{$root}__icon {
                fill: $color-first;
            }

            &:hover,
            &:active,
            &:focus {
                border: 0.2rem solid $color-first;
                background-color: $colorWhite;
            }
        }

        &_more-content {
            font-weight: 400;
            color: $colorWhite;
            background: $color-first;
            border: 0.2rem solid $color-first;
            border-radius: 0.5rem;
            box-shadow: none;
            min-width: 16.5rem;
            height: 4rem;
            padding: 0.75rem 2rem;

            &:hover,
            &:active,
            &:focus {
                color: $colorWhite;
                background: $color-second;
                border: 0.2rem solid $color-second;
                box-shadow: none;
            }

            &:visited {
                color: $colorWhite;

                &:hover,
                &:active,
                &:focus {
                    color: $colorWhite;
                    background: $color-second;
                    border: 0.2rem solid $color-second;
                    box-shadow: none;
                }
            }

            #{$root}__span {
                font-weight: 400;
            }

            #{$root}__icon {
                right: 2rem;
                width: 1rem;
                height: 1.4rem;
            }
        }
    }

    &__icon {
        width: 0.7rem;
        height: 1.1rem;
        right: 1rem;

        &--search {
            width: 1.8rem;
            height: 1.8rem;
            fill: $color-icon-first;
        }

        &--plus {
            width: 1.1rem;
            height: 1.1rem;
            margin-left: -0.2rem;
        }

        &--cart {
            width: 2.5rem;
            height: 2.5rem;
            margin-left: -0.8rem;
        }

        &--bg {
            background-image: url('images/button-arrow-light.png');

            #{$root}--look_light & {
                background-image: url('images/button-arrow-dark.png');
            }

            #{$root}--look_light:hover & {
                background-image: url('images/button-arrow-light.png');
            }
        }
    }

    &__remove-icon {
        padding: 1rem 1.1rem;
        width: 1rem;
        height: 1rem;
        fill: $colorGray;

        &:hover {
            fill: $colorCeruleanBlue;
        }
    }
}
