.#{$namespace}products-promo {
    $root: &;
    $sliderWidth: 77%;
    $navArrowSize: 5.5rem;

    &__nav {
        background: $colorWhite;
        border-radius: 6px;
        background-color: $colorWhite;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
        width: calc(#{$navArrowSize} * 0.75);
        height: calc(#{$navArrowSize} * 0.75);

        @include media('>=tablet') {
            width: $navArrowSize;
            height: $navArrowSize;
        }

        &:hover,
        &:active,
        &:focus {
            background: $colorWhite;
            border: none;
        }

        &-icon {
            fill: $colorCeruleanBlue;
            height: calc(#{$navArrowSize} * 0.75);

            @include media('>=tablet') {
                height: $navArrowSize;
            }
        }

        &--prev {
            @media (min-width: 1285px) {
                left: calc(-#{$navArrowSize} / 2);
            }
        }

        &--next {
            @media (min-width: 1285px) {
                right: calc(-#{$navArrowSize} / 2);
            }
        }
    }

    &__pagination {
        color: $colorDoveGray;

        &-item {
            border-radius: 2px;
            background-color: $colorGallery;
            transform: skew(-18deg);

            &:hover,
            &:focus,
            &:active {
                background-color: darken($colorGallery, 8%);
                border: none;
                box-shadow: none;
            }

            &--active {
                background: $colorGold;

                &:hover,
                &:focus,
                &:active {
                    background: $colorGold;
                }
            }
        }
    }

    &__number--current {
        color: $colorGold;
    }
}
