/**
 * Override Magento calendar classes
 */

.ui-datepicker {
    border-width: 0;
    border-radius: 3px;

    .ui-datepicker-header {
        background: $colorGold;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .ui-datepicker-prev span {
        &:before {
            border-right-color: $colorCeruleanBlue;
        }

        &:after {
            border-right-color: $colorGold;
        }
    }

    .ui-datepicker-next span {
        &:before {
            border-left-color: $colorCeruleanBlue;
        }

        &:after {
            border-left-color: $colorGold;
        }
    }

    .ui-datepicker-calendar td a,
    .ui-datepicker-calendar th span,
    .ui-datepicker-calendar td span {
        background: none;
        border-width: 0;
        border-radius: 50%;
        font-size: 1.4rem;
        color: $colorDoveGray;
    }

    .ui-datepicker-calendar th span {
        color: $colorMineShaft;
    }

    .ui-datepicker-calendar td,
    .ui-datepicker-calendar th {
        background: none;
        border-width: 0;
        font-family: $font-family;
    }

    .ui-datepicker-calendar {
        background: $colorGallery;
        border-width: 0;
    }

    .ui-datepicker-table {
        border: none;
        font-size: 1rem;
    }

    .ui-datepicker-calendar .ui-state-disabled {
        background: transparent;
    }

    .ui-datepicker-calendar .ui-state-disabled span {
        color: $colorAlto;
    }

    .ui-datepicker-calendar td .ui-state-active {
        background: $colorWhite;
        color: $colorCeruleanBlue;
    }

    .ui-datepicker-calendar td .ui-state-hover {
        background: $colorCeruleanBlueHover;
        color: $colorWhite;
    }
}
