.#{$namespace}input {
    $root: &;
    font-size: 1rem;

    &.required,
    &._required,
    &.required-entry {
        #{$root}__label {
            &:after {
                color: $colorCrimson;
                font-size: 1.2rem;
            }
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        color: $colorMineShaft;

        &--big {
            font-size: 1.5rem;
            font-weight: 400 !important; /* stylelint-disable-line declaration-no-important */
        }
    }

    &__label-icon-wrapper {
        top: 50%;
        transform: translateY(-50%);
    }

    input[type='text'],
    &__input[type='text'],
    input[type='email'],
    &__input[type='email'],
    input[type='password'],
    &__input[type='password'],
    input[type='number'],
    &__input[type='number'],
    input[type='url'],
    &__input[type='url'],
    input[type='search'],
    &__input[type='search'],
    input[type='datetime'],
    &__input[type='datetime'],
    input[type='date'],
    &__input[type='date'],
    &__input {
        font-family: $base-font-family;
        color: $colorMineShaft;
        background-color: $colorWhite;
        border-radius: 5px;
        border: 0.2rem solid $colorBorderAlto;
        height: 4rem;
        box-shadow: none;
        font-size: 1.3rem;

        &:hover:not(:disabled):not(:focus),
        &:focus,
        &:active {
            box-shadow: none;
            border-color: $colorAlto;
        }

        &.mage-error,
        ._error & {
            border-color: $colorCrimson;
        }

        &:disabled {
            background-color: $colorGallery !important;
        }
    }

    &__textarea {
        @extend #{$root}__input;
    }

    /* stylelint-enable */

    &__select {
        @extend #{$root}__input;
        font-size: 1.4rem;
        background-image: url('images/dropdown-arrows-bg.png');
        background-size: 3.2rem 3.2rem;

        &:hover:not(:disabled):not(:focus),
        &:not([disabled]):focus {
            background-image: url('images/dropdown-arrows-bg-open.png');
            border-color: $colorCeruleanBlue;
        }

        &:disabled {
            background-image: url('images/dropdown-arrows-bg.png');
        }
    }

    &__radio[type='radio'] {
        &:checked + #{$root}__label:before,
        &:checked + #{$root}__label:after {
            color: $colorCeruleanBlue;
            border-color: $colorCeruleanBlue;
        }

        &:hover:not(:disabled) + #{$root}__label:before {
            border-color: $colorCeruleanBlueHover;
        }

        &:checked + #{$root}__label:after,
        .selected-item #{$root}__label:after {
            border-radius: 50%;
            width: 0.7rem;
            height: 0.7rem;
            top: 50%;
            left: 0.6rem;
            background-color: $colorCeruleanBlue;
        }
    }

    select {
        @extend #{$root}__select;
    }
    &__icon {
        width: 1.7rem;
        height: 1.7rem;
        position: absolute;
        right: 0.8rem;
        top: 1.2rem;
        display: none;

        .#{$namespace}checkout__step-content #{$root}--success & {
            display: block;
            fill: $colorApple;
        }

        .#{$namespace}checkout__step-content .mage-error &,
        .#{$namespace}checkout__step-content &.mage-error,
        .#{$namespace}checkout__step-content ._error & {
            display: none !important;
        }

        .#{$namespace}checkout__step-content #{$root}--warning & {
            display: block;
            fill: $colorGold;
        }
    }

    &__note {
        font-size: 1.2rem;
        color: $colorGray;
    }

    &__warning {
        font-size: 1.2rem;
        color: $colorGamboge;
    }

    &__link {
        color: $colorMineShaft;

        &:hover {
            text-decoration: none;
            color: $colorMineShaft;
        }
    }

    ::placeholder {
        color: $colorGray;
    }

    &--disabled {
        #{$root}__label {
            color: $colorGray;
        }
    }

    &--type-radio {
        #{$root}__label {
            &:before {
                width: 1.65rem;
                height: 1.65rem;
                border: 1px solid darken($colorGallery, 8%);
                line-height: 1.6rem;
            }

            &:after {
                width: 0.7rem;
                height: 0.7rem;
                border-radius: 50%;
            }
        }

        #{$root}__radio:disabled + #{$root}__label {
            &:before {
                background: $colorGallery;
            }
        }
    }

    &--type-checkbox {
        font-size: 1rem;

        #{$root}__checkbox {
            &:hover:not(:disabled) + #{$root}__label:before {
                border-color: $colorCeruleanBlue;
            }

            &:checked + #{$root}__label:before {
                background-image: url('images/check@2x.png');
            }

            &[type='checkbox']:disabled + #{$root}__label:before {
                background: $colorGallery;
            }
        }

        #{$root}__label {
            font-size: 1.2rem;
            color: $colorGray;
            font-weight: 400;

            .#{$namespace}link {
                font-size: 1.2rem;
            }

            &:before {
                border-width: 1px;
                border-color: $colorAlto;
                border-style: solid;
                width: 2rem;
                height: 2rem;
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15),
                    0 -1px 1px $colorWhite, 0 1px 0 $colorWhite;
                background-size: 1rem auto;
            }
        }

        &._error #{$root}__label,
        #{$root}__checkbox.mage-error + #{$root}__label {
            &:before {
                border-color: $colorCrimson;
            }
        }
    }
}

._has-datepicker ~ .ui-datepicker-trigger {
    @extend .#{$namespace}button;
    @extend .#{$namespace}button--look_default;
    @extend .#{$namespace}button--look_on-input;
    @extend .#{$namespace}input__button;

    &:before {
        color: $colorWhite;
        transform: skew(18deg) translateX(-0.4rem);
    }
}

.customer-dob {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.#{$namespace}input .field-tooltip .field-tooltip-content {
    @extend .#{$namespace}input__note;
    background: $colorWhite;
}

//Below is style for input ad select for payone creditcard iframes it has to be inserted (uncommented) in admin in Payone->General->Payment Creditcard:

//border-radius: 3px; height: 40px; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);  font-size: 14px; color: #212121;  border-color: #cfcfcf;  background-color: #fff; transition: border-color .15s linear; outline: none; line-height: 1.42857143; padding: 0 9px; vertical-align: baseline; width: 100%; box-sizing: border-box; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; background: #ffffff;  background-clip: padding-box; border: 1px solid #c2c2c2;
