.#{$namespace}input {
    $root: &;
    font-family: $font-family;

    &.required,
    &._required,
    &.required-entry {
        #{$root}__label {
            &::after {
                color: $color-error;
            }
        }
    }

    &__label {
        font-size: 1.4rem;
        font-weight: 700;
        color: $color-input-label;

        &--big {
            font-size: 1.6rem;
            font-weight: 400 !important;
            padding-left: 3rem !important;
        }
    }

    &__label-icon-wrapper {
        top: 50%;
        transform: translateY(-50%);

        &--flex {
            display: flex !important;
            width: 7.5rem;

            #{$root}__label-icon {
                max-width: 50%;

                &:first-child {
                    margin-right: 0.5rem;
                }
            }
        }
    }

    &__control {
        &._error {
            position: relative;

            &::after {
                display: block;
                content: '!';
                position: absolute;
                right: 1.4rem;
                top: 2rem;
                transform: translateY(-50%);
                font-size: 1.6rem;
                font-weight: 700;
                color: $color-error;
            }
        }
    }

    input[type='text'],
    &__input[type='text'],
    input[type='email'],
    &__input[type='email'],
    input[type='password'],
    &__input[type='password'],
    input[type='number'],
    &__input[type='number'],
    input[type='url'],
    &__input[type='url'],
    input[type='search'],
    &__input[type='search'],
    input[type='datetime'],
    &__input[type='datetime'],
    input[type='date'],
    &__input[type='date'],
    &__input {
        font-family: $font-family;
        color: $color-input-text;
        background-color: $colorWhite;
        border-radius: 4px;
        border: 0.1rem solid $color-input-border;
        height: 4rem;
        box-shadow: none;
        font-size: 1.4rem;

        &:hover:not(:disabled):not(:focus),
        &:focus,
        &:active {
            box-shadow: none;
            border-color: $color-input-border;
        }

        #{$root}--success & {
            border: 1px solid $color-success;

            #{$root}__icon {
                width: 1.2rem;
                height: 0.7rem;
            }
        }

        &.mage-error,
        ._error & {
            border-color: $color-error;
            font-size: 1.4rem;
            color: $color-input-text !important;
        }

        &:disabled {
            background-color: $colorGallery !important;
        }
    }

    &__textarea {
        @extend #{$root}__input;
    }

    &__select {
        @extend #{$root}__input;
        font-size: 1.4rem;
        background-image: url('images/dropdown-arrows-bg.png');
        background-size: 3.2rem 3.2rem;

        &:hover:not(:disabled):not(:focus),
        &:not([disabled]):focus {
            background-image: url('images/dropdown-arrows-bg-open.png');
            border-color: $color-input-border;
        }

        &:disabled {
            background-image: url('images/dropdown-arrows-bg.png');
        }
    }

    &__radio[type='radio'] {
        &:checked + #{$root}__label::before,
        &:checked + #{$root}__label::after {
            color: $color-radio;
            border-color: $color-radio;
        }

        &:hover:not(:disabled) + #{$root}__label::before {
            border-color: $color-radio-hover;
        }

        &:checked + #{$root}__label::after,
        .selected-item #{$root}__label::after {
            border-radius: 50%;
            width: 0.7rem;
            height: 0.7rem;
            top: 50%;
            left: 0.6rem;
            background-color: $color-radio;
        }
    }

    select {
        @extend #{$root}__select;
    }

    &__icon {
        width: 1.7rem;
        height: 1.7rem;
        position: absolute;
        right: 0.8rem;
        top: 1.2rem;
        display: none;

        .#{$namespace}checkout__step-content #{$root}--success & {
            display: block;
            fill: $color-success;
            width: 1.2rem;
            height: 1.9rem;
            right: 1.4rem;
        }

        .#{$namespace}checkout__step-content .mage-error &,
        .#{$namespace}checkout__step-content &.mage-error,
        .#{$namespace}checkout__step-content ._error & {
            display: none !important;
            color: $color-error;
        }

        .#{$namespace}checkout__step-content #{$root}--warning & {
            display: block;
            fill: $color-warning;
        }
    }

    &__note {
        font-size: 1.2rem;
        color: $color-paragraph;
    }

    &__warning {
        font-size: 1.2rem;
        color: $colorGamboge;
    }

    &__link {
        color: $colorMineShaft;

        &:hover {
            text-decoration: none;
            color: $colorMineShaft;
        }
    }

    ::placeholder {
        color: $colorGray;
    }

    &--disabled {
        #{$root}__label {
            color: $colorGray;
        }
    }

    &--type-radio {
        #{$root}__label {
            padding-left: 2.2rem;

            &::before {
                width: 1.65rem;
                height: 1.65rem;
                border: 1px solid darken($colorGallery, 8%);
                line-height: 1.6rem;
            }

            &::after {
                width: 0.7rem;
                height: 0.7rem;
                border-radius: 50%;
            }
        }

        #{$root}__radio:disabled + #{$root}__label {
            &::before {
                background: $colorGallery;
            }
        }
    }

    &--type-checkbox {
        font-size: 1rem;

        #{$root}__checkbox {
            &:hover:not(:disabled) + #{$root}__label::before {
                border-color: $color-checkbox-hover;
            }

            &:checked + #{$root}__label::before {
                background-color: $color-checkbox;
                background-image: url('images/checkbox-tick.svg');
                background-repeat: no-repeat;
                background-size: 1.1rem 0.9rem;
                border-color: $color-checkbox;
            }

            &[type='checkbox']:disabled + #{$root}__label::before {
                background: $colorGallery;
                border-color: $color-checkbox;
            }
        }

        #{$root}__label {
            font-size: 1.3rem;
            color: $colorGray;
            font-weight: 400;

            .#{$namespace}link {
                font-size: 1.3rem;
            }

            &::before {
                border-width: 1px;
                border-color: $color-input-border;
                border-style: solid;
                border-radius: 0.4rem;
                width: 2rem;
                height: 2rem;
                background-size: 1rem auto;
            }

            &:hover::before {
                border-color: $color-checkbox-hover;
            }
        }

        &._error #{$root}__label,
        #{$root}__checkbox.mage-error + #{$root}__label {
            &::before {
                border-color: $color-error;
            }
        }
    }

    &__button {
        &--newsletter {
            background: $color-button-default-background;
            width: 100%;
            border-radius: 0.5rem;
            position: static;
            top: auto;
            left: auto;
        }
    }
}

.newsletter {
    .#{$namespace}input__control {
        margin-bottom: 1rem;
    }
}

//Below is style for input ad select for payone creditcard iframes it has to be inserted (uncommented) in admin in Payone->General->Payment Creditcard:

//border-radius: 3px; height: 40px; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);  font-size: 14px; color: #212121;  border-color: #cfcfcf;  background-color: #fff; transition: border-color .15s linear; outline: none; line-height: 1.42857143; padding: 0 9px; vertical-align: baseline; width: 100%; box-sizing: border-box; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; background: #ffffff;  background-clip: padding-box; border: 1px solid #c2c2c2;
