.#{$namespace}t-text {
    @include t-text(1.5rem, $font-family, $color-paragraph, $color-paragraph);

    &:hover,
    &:visited {
        color: $color-paragraph;
    }

    &--look {
        &_success {
            color: $color-success;

            &:hover {
                color: $color-success;
            }
        }

        &_error {
            color: $color-error;

            &:hover {
                color: $color-error;
            }
        }

        &_link {
            color: $color-link;

            &:hover {
                color: $color-link-hover;
            }
        }

        &_attention {
            color: $color-paragraph;
            font-weight: 700;
        }
    }

    &--size {
        &_200 {
            font-size: 1.1rem;
        }

        &_250 {
            font-size: 1.2rem;
        }

        &_300 {
            font-size: 1.3rem;
        }

        &_400 {
            font-size: 1.5rem;
        }
    }

    &__span {
        color: $color-paragraph;

        &:hover,
        &:visited {
            color: $color-paragraph;
        }

        &--look {
            &_link {
                color: $color-link;
                font-weight: 400;
            }
        }
    }
}
