.#{$namespace}product-sale-block {
    background: $colorWhite;
    border-top: 1px solid $colorAlto;

    @include media('>=laptop') {
        border: 1px solid $colorAlto;
        border-radius: 3px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
    }

    &__item {
        border-top: 1px solid $colorAlto;
    }

    &__category {
        font-size: 1.2rem;
        color: $colorDoveGray;
    }

    &__name {
        h1,
        .page-title {
            @extend .cs-t-headline;
            @extend .cs-t-headline--size_2;
        }
    }

    &__banner {
        background-color: $colorMineShaft;
        color: $colorWhite;
        font-size: 1.15rem;
    }

    &__share-icon {
        fill: $colorCeruleanBlue;
    }

    &__share-text {
        font-size: 1.2rem;
        color: $colorDoveGray;

        &:hover {
            text-decoration: none;
        }
    }

    &__stock-text {
        font-size: 1.2rem;
        color: $colorDoveGray;

        &--unavailable {
            color: $colorCrimson;
        }
    }

    &__stock-icon {
        &--available {
            fill: $colorApple;
        }

        &--unavailable {
            fill: $colorCrimson;
        }
    }

    &__option-checkbox {
        .price-wrapper {
            font-weight: 700;
        }
    }
}
