.#{$namespace}headline {
    text-align: center;
    letter-spacing: -0.05rem;

    &__title {
        font-size: 2.8rem;
        font-weight: 700;
        color: $color-headline;
        text-transform: none;
        display: block;

        &:before,
        &:after {
            display: none;
        }
    }

    &__subtitle {
        color: $colorDustyGray;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 4rem;
    }
}
