.#{$namespace}headline {
    font-size: 1rem;

    &__title {
        @extend .#{$namespace}t-headline;
        @extend .#{$namespace}t-headline--size_1;

        &:before,
        &:after {
            background-color: $colorAlto;
        }
    }

    &__subtitle {
        color: $colorGray;
        font-size: 1.3em;
    }
}
