.#{$namespace}headline {
    text-align: center;
    letter-spacing: -0.05rem;
    margin: 0;
    padding: $base-space 0;

    &__title {
        font-family: $font-family;
        color: $color-headline;
        font-size: 2.9rem;
        font-weight: 700;
        text-transform: none;
        display: block;

        @include media('<tablet') {
            font-size: 2.2rem !important;
        }

        &:before,
        &:after {
            display: none;
        }
    }

    &__subtitle {
        color: $color-subheadline;
        font-family: $font-family;
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 0.3rem;
    }
}
