// Original Magento class
.password-strength-meter {
    @include media('<phone-lg') {
        font-size: 1rem;
    }
    font-size: 1.2rem;

    &__label {
        font-size: 1.2rem;
        @include media('<phone-lg') {
            font-size: 1rem;
        }
    }

    &__icons-wrapper {
        font-size: 0.5rem;
    }

    &__icon {
        &:nth-child(1) {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }
        &:nth-last-child(1) {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }

        background: $colorWhite;
        width: 1.71rem;
        height: 0.93rem;

        .password-strength-meter-1 & {
            &:nth-child(1) {
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }
            &:nth-child(1),
            &:nth-child(2) {
                background: $color-error;
            }
        }

        .password-strength-meter-2 & {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                background: $color-warning;
            }
        }

        .password-strength-meter-3 & {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                background: $color-warning;
            }
        }

        .password-strength-meter-4 & {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                background: $color-success;
            }
        }
    }
}
