// Original Magento class
.password-strength-meter {
    @include media('<phone-lg') {
        font-size: 1rem;
    }
    font-size: 1.2rem;

    &__label {
        font-size: 1.2rem;
        @include media('<phone-lg') {
            font-size: 1rem;
        }
    }

    &__icon {
        .password-strength-meter-1 & {
            &:nth-child(1),
            &:nth-child(2) {
                fill: $color-error;
            }
        }

        .password-strength-meter-2 & {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                fill: $colorAzaela;
            }
        }

        .password-strength-meter-3 & {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                fill: $color-warning;
            }
        }

        .password-strength-meter-4 & {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                fill: $color-success;
            }
        }
    }
}
