.#{$namespace}minicart {
    background: $colorWhite;

    &__title {
        border-bottom: 1px solid $colorAlto;
        @extend .#{$namespace}t-headline;
        @extend .#{$namespace}t-headline--size_2;
        @extend .#{$namespace}t-headline--look_light;
    }

    &__title-qty {
        color: $colorDoveGray;
        font-size: 1.4rem;
    }

    &__edit-link {
        font-weight: 700;
    }

    &__list-item {
        border-bottom: 1px solid $colorAlto;
    }

    &__buttons {
        border-top: 1px solid $colorAlto;
        box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.27);
    }

    &__subtotal {
        font-weight: 700;
        font-size: 1.5rem;
    }

    &__subtotal-price {
        .price {
            font-weight: 700;
            font-size: 1.5rem !important;
        }
    }
}

.minicart-wrapper .block-minicart {
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.27);
    border: none;

    &:after {
        background: $colorWhite;
        border: none;
        box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.27);
    }
}
