.#{$namespace}minicart {
    background: $colorWhite;
    color: $color-text-dark;
    font-family: $font-family !important;

    .action.close {
        top: 0;
        color: $color-text-dark;
    }

    &__title {
        padding: 1rem 1.5rem;
        border-bottom: 0.2rem solid $color-border-second;
        @extend .#{$namespace}t-headline;
        @extend .#{$namespace}t-headline--size_2;
        @extend .#{$namespace}t-headline--look_light;

        > span {
            font-size: 1.8rem;
        }
    }

    &__name {
        font-size: 1.4rem;
        font-weight: 300;
    }

    &__title-qty {
        color: $colorDoveGray;
        font-size: 1.4rem;
    }

    &__edit-link {
        font-weight: 700;
    }

    &__list-item {
        border-bottom: 0.1rem solid $color-second;
    }

    &__buttons {
        border-top: 0.1rem solid $color-second;
        box-shadow: none;
    }

    &__subtotal {
        font-weight: 700;
        font-size: 1.5rem;

        &-label {
            text-align: left;
        }
    }

    &__subtotal-price {
        .price {
            font-weight: 700;
            font-size: 1.5rem !important;
        }
    }

    &__buttons {
        box-shadow: none;
        border-color: $color-border-second;
    }
}

.minicart-wrapper .block-minicart {
    box-shadow: none;
    border: 0.1rem solid $color-border-second;
    border-radius: 0.5rem;
    margin: 1.2rem 0 0;
    right: -0.3rem;

    @include media('>=laptop') {
        right: -1.9rem;
    }

    @include media('>=desktop') {
        right: -0.9rem;
    }

    &:after {
        box-shadow: none;
        border: 0.1rem solid $color-border-second;

        @include media('>=laptop') {
            right: 2rem;
        }
    }
}

#btn-minicart-close {
    display: none;
}

.minicart-non-empty {
    .cs-header-user-area__icon--minicart {
        fill: $color-icon-active;

        &:hover {
            fill: $color-icon-active !important;
        }
    }

    .cs-badge--info {
        background-color: $color-icon-active;

        &:hover {
            background-color: $color-icon-active !important;
        }
    }
}
