.#{$namespace}aftersearch-nav {
    $root: &;

    &__filter {
        @include media('>=tablet') {
            border-bottom: 1px solid $color-line;
        }
    }

    &__filters-trigger {
        background-color: $colorGallery;
        box-shadow: none;

        &.#{$namespace}collapse__trigger--in {
            background-color: $color-filters-trigger;
            color: $colorWhite;
            box-shadow: none;
        }

        &-icon {
            .#{$namespace}collapse__trigger--in & {
                fill: $colorWhite;
            }
        }
    }

    &__filter-title {
        border-top: 1px solid $color-line;
        font-size: 1.2rem;
        font-weight: 700;
        text-decoration: none;

        @include media('<tablet') {
            background-color: $colorGallery;
        }
    }

    &__filter-input,
    &__filter-input:visited {
        font-size: 1.29rem !important;
    }

    &__filter-count {
        color: $colorGray;
    }

    &__filter-arrow {
        &:before,
        &:after {
            background: $color-first;
        }

        #{$root}__filter.active &,
        #{$root}__filter-title[aria-expanded='true'] &,
        .#{$namespace}filter-horizontal__trigger--in & {
            &:before {
                background: $colorGray;
            }

            &:after {
                background: $colorGray;
            }
        }
    }

    &__price-label {
        font-size: 11px;
        color: $colorGray;
        text-transform: lowercase;
        width: 4.2rem;
    }

    &__currency {
        color: $colorGray;
        font-size: 1.4rem;
    }

    &__button-list {
        @include media('<tablet') {
            background-color: $colorGallery;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
        }
    }

    /* STATE block */
    &__state {
        border-top: 1px solid $colorGallery;
        border-bottom: 1px solid $colorGallery;

        &-link,
        &-link:visited {
            border: 1px solid $color-button-default-border;
            border-radius: 3px;
            color: $color-text-dark;

            &:hover {
                border-color: $color-button-default-border-hover;
                color: $color-button-default-text-hover;
                text-decoration: none;

                #{$root}__state-remove {
                    background-color: $color-button-default-background-hover;
                    border-color: $color-button-default-border-hover;
                }

                #{$root}__state-remove-icon {
                    fill: $colorWhite !important;
                }

                #{$root}__state-value,
                #{$root}__state-label {
                    color: $color-link-hover;
                }
            }
        }

        &-label {
            font-weight: 700;
            color: $color-link;
        }

        &-remove {
            border: none;
            border-right: 1px solid $color-button-default-border;
        }
        &-value {
            color: $color-link;
        }

        &-remove-icon {
            fill: $color-icon-second !important;
        }
    }

    /* Horizontal */
    &--horizontal-full {
        #{$root}__filters {
            @include media('>=tablet') {
                border-top: none;
                border-bottom: none;
                border-radius: 4px;
                background-color: $colorWhite;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
                margin-bottom: 1.8rem;
                padding: 1.2rem 2rem;
                box-sizing: border-box;
            }
        }

        #{$root}__filter-arrow {
            .ie11 & {
                right: 1.2rem !important;
            }

            &:not(#{$root}__filter-arrow--tick) {
                @include media('>=tablet') {
                    position: absolute;
                    width: 1rem;
                    height: 0.4rem;
                    top: 50%;
                    right: 1.5rem;
                    transform: translate3d(50%, -50%, 0);
                    transform-origin: 50% 30%;
                    transition: transform 0.25s ease;
                    margin-top: 0;

                    &:before,
                    &:after {
                        position: absolute;
                        top: 0;
                        width: 0.7rem;
                        height: 0.2rem;
                        background-color: $color-filters-arrow !important;
                    }

                    &:before {
                        left: 0;
                        transform: rotate(40deg);
                        transform-origin: 0 50%;
                    }

                    &:after {
                        right: 0;
                        transform: rotate(-40deg);
                        transform-origin: 100% 50%;
                    }
                }
            }

            &--tick {
                background-image: url('images/check-green.svg');
                background-repeat: no-repeat;
                width: 1.4rem;
                height: 1.8rem;
                right: 1rem !important;

                .ie11 & {
                    @include media('>=tablet') {
                        margin-top: -0.1rem;
                    }
                }

                @include media('<tablet') {
                    height: 1.4rem;
                    top: 54%;
                    right: 1.3rem !important;
                }

                &:before {
                    display: none !important;
                }

                &:after {
                    display: none !important;
                }
            }
        }

        // Open state of filter
        #{$root}__filter-title[aria-expanded='true'] {
            #{$root}__filter-arrow:not(#{$root}__filter-arrow--tick) {
                @include media('>=tablet') {
                    transform: rotateX(180deg) translate3d(50%, -50%, 0);

                    &:before {
                        opacity: 1;
                        display: block !important;
                    }
                }
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 100%;
                width: 101%;
                left: 0;
                height: 0.1rem;
                margin-top: -0.1rem;
                background: $colorWhite;
            }
        }

        #{$root}__filter-title {
            @include media('>=tablet') {
                background-color: $colorWhite;
                font-size: 1.4rem;
                font-weight: 400;
                border: 0.1rem solid $color-filters;
                border-radius: 0.4rem;
                text-transform: none;
                color: $color-filters-text;
                padding: 1rem 2.5rem 1rem 1.8rem;

                &:hover {
                    background-color: $colorWhite;
                }

                &[aria-expanded='true'] {
                    background-color: $colorWhite;
                    border-bottom: $colorWhite;
                    box-shadow: none;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border-color: $color-filters-border-active;
                }
            }
        }

        #{$root}__filter-content {
            @include media('>=tablet') {
                background-color: $colorWhite;
                width: min-content;
                min-width: 150%;

                &.active {
                    border-left: 0.1rem solid $color-filters-border-active;
                    border-right: 0.1rem solid $color-filters-border-active;
                    border-bottom: 0.1rem solid $color-filters-border-active;
                    border-top-right-radius: 0.4rem;
                    border-bottom-right-radius: 0.4rem;
                    border-bottom-left-radius: 0.4rem;
                    transform: translateY(-0.2rem);
                    box-shadow: none;
                    border-top: 0.1rem solid $color-filters-border-active;
                    z-index: -1;
                    width: inherit;

                    &:before {
                        background-color: $colorWhite;
                        border-top-right-radius: 0.4rem;
                    }
                }
            }
        }

        #{$root}__price {
            @include media('>=tablet') {
                min-width: 20rem;
                max-width: 30rem;
            }
        }

        #{$root}__filter-text {
            @include media('>=tablet') {
                color: $color-filters-text;
                font-size: 1.4rem !important;

                &:hover {
                    color: $color-link-hover;
                }
            }
        }

        #{$root}__filter-count {
            display: none;
        }
    }
}
