/**
 * Footer component customization.
 * @see /Magento_Theme/templates/footer/columns.phtml for templates.
 */

.#{$namespace}footer {
    $root: &;
    font-size: 1rem;
    color: $color-footer-text;
    background-color: $color-footer-background;

    &__column {
        @include media('>=laptop') {
            width: 33%;
        }

        &--newsletter {
            border-top: none;
            width: 76%;
            margin: 0 auto;

            @include media('<tablet') {
                width: 90%;
            }

            #{$root}__list {
                @include media('<tablet') {
                    margin: 0 auto;
                    max-width: 40rem;
                    margin-bottom: 0;
                }
            }
        }

        &--first {
            display: none;
        }
    }

    &__column-title {
        font-size: 1.4rem;
        color: $color-footer-text;
        font-weight: 700;
        letter-spacing: 0;
        text-transform: lowercase;
        border-top: 0.2rem solid $color-border-second;

        &:first-letter {
            text-transform: uppercase;
        }

        &:before,
        &:after {
            background-color: $colorGray !important;
        }

        #{$root}__column:first-child & {
            border-top: 0.2rem solid $color-border-second;
        }

        @include media('>=tablet') {
            border-top: none !important;
        }

        &--newsletter {
            border-top: none !important;
            padding: 0;
        }
    }

    &__list {
        color: $color-footer-text;
    }

    &__right {
        flex-basis: 35%;
        padding-top: 2rem;
        border-top: 0.2rem solid $color-border-second;

        @include media('>=tablet') {
            padding-top: 0;
            order: -1;
            border: none;
        }

        .#{$namespace}footer__list {
            padding: 0;
        }
    }

    &__left {
        flex-basis: 65%;
    }

    &__wrapper {
        flex-direction: column;

        @include media('>=tablet') {
            border-bottom: 0.2rem solid $color-border-second;
            flex-direction: row;
        }
    }

    &__newsletter {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1rem;

        @include media('<tablet') {
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
        }
    }

    &__newsletter-icon {
        height: 5rem;
        width: 5rem;
    }

    &__icon-wrapper {
        height: 4rem;
        width: 5.5rem;
        margin-right: 1rem;

        img {
            height: auto;
            width: auto;
            max-width: 100% !important;
            max-height: 100% !important;
        }

        @include media('>=phone-lg') {
            width: 4rem;
        }

        @include media('>=tablet') {
            width: 10rem;
        }

        @include media('>=laptop') {
            height: 5rem;
            width: 8rem;
        }
    }

    .#{$namespace}form {
        min-height: 9.5rem;
        max-height: 25rem;
    }
}
