.price-box {
    .price {
        color: $color-text-dark;
        font-size: 1.7rem;
    }

    .old-price {
        .price {
            font-size: 1.7rem;
            color: $color-text-dark;
            line-height: 1.7rem;
        }
    }

    .special-price {
        .price {
            color: $color-special-price;
        }

        &.active {
            .price {
                color: $color-special-price;
            }
        }
    }
}

.#{$namespace}price--pdp {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-right: 2rem;

    .price-container {
        margin-bottom: 0.3rem !important;
    }

    .old-price .price {
        font-size: 1.2rem !important;
    }

    .price {
        font-size: 2.9rem !important;
        font-weight: 700 !important;
    }

    .special-price .price {
        color: $color-special-price;
    }

    .price-box {
        @include media('>=phone-lg') {
            margin-top: 0 !important;
        }

        @include media('>=tablet') {
            transform: translateY(-0.3rem);
        }
    }

    .baseprice {
        transform: translateY(-0.3rem);
    }

    .baseprice,
    .baseprice .price {
        color: $color-second !important;
        font-size: 1.2rem !important;
        font-weight: 400 !important;
    }
}

.catalog-category-view,
.cms-home {
    .special-price,
    .#{$namespace}item-cloner--visible & {
        .price {
            color: $color-special-price;
        }
    }
}
