.price-box {
    .price {
        color: $color-text-dark;
        font-size: 1.7rem;
    }

    .old-price {
        .price {
            font-size: 1.7rem;
            color: $color-text-dark;
            line-height: 1.7rem;
        }
    }

    .special-price {
        color: $colorRose;

        &.active {
            .price {
                color: $colorRose;
            }
        }
    }
}

.#{$namespace}price--pdp {
    border-bottom: 1px solid $colorAlto;

    .old-price .price {
        font-size: 1.2rem !important;
    }
}

.catalog-category-view,
.cms-home {
    .special-price,
    .#{$namespace}item-cloner--visible & {
        .price {
            color: $colorRose;
        }
    }
}

.baseprice {
    .price {
        position: absolute;
        top: 2.8rem;
        font-size: 1.1rem;
        color: $color-second;
        font-weight: 400;
    }
}
