.price-box {
    .price {
        color: $colorCeruleanBlue;
        font-size: 1.51rem;

        &-label {
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .old-price {
        .price {
            font-size: 1rem;
            color: $colorDoveGray;
        }
    }

    .special-price {
        &.active {
            .price {
                color: $colorCrimson;
            }
        }
    }
}

.#{$namespace}price--pdp {
    border-bottom: 1px solid $colorAlto;

    .old-price .price {
        font-size: 1.2rem !important;
    }
}
