.#{$namespace}header-search {
    $root: &;
    background-color: $colorWhite;
    fill: $colorCeruleanBlue;

    &__input {
        border-radius: 3px 0 0 3px;
    }

    &__submit {
        border-radius: 0 3px 3px 0;
    }

    &__autocomplete {
        border: 1px solid $colorAlto;
        background-color: $colorWhite;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);

        .autocomplete-list {
            border-top: 1px solid $colorAlto;
        }

        dl dt {
            color: $colorGray;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.19rem;
            letter-spacing: 1px;

            &:not(:empty) {
                border: none;
                background-color: transparent;
            }

            &:hover,
            &.selected {
                background-color: $colorWhite;
            }

            &.title-product ~ dd:not(:empty) {
                border-bottom: 1px solid $colorAlto;

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        dl dd {
            &:not(:empty) {
                border: none;
                background-color: transparent;
            }

            &:hover,
            &.selected {
                background-color: $colorGallery;
            }

            .product-item {
                .product-name {
                    font-size: 1.29rem;
                    color: $colorBlack;
                    font-weight: 700;
                }

                .price-box {
                    .price {
                        font-size: 1.29rem;
                    }
                }

                .old-price .price {
                    color: $colorDoveGray;
                    text-decoration: line-through;
                    font-size: 90%;
                    font-weight: 700;
                }

                .special-price .price {
                    color: $colorCrimson;
                }
            }

            .category-mini-crumb {
                font-size: 1.29rem;
                color: $colorGray;
                font-style: normal;
            }

            .qs-option-name {
                font-size: 1.29rem;
            }

            .product-attribute-label {
                text-transform: none;
                font-size: 1.29rem;
                color: $colorGray;
            }

            .amount {
                color: $colorGray;
                font-size: 1.29rem;
            }
        }

        .price {
            .price-box__price {
                line-height: 1.6rem;
            }
        }
    }
}
