.#{$namespace}header-search {
    $root: &;
    background-color: $colorWhite;
    fill: $color-icon-second;

    &__button-icon {
        display: none;
    }

    &__button {
        width: 4rem;
        height: 3rem;
        border-radius: 0.5rem;
        top: 0.5rem;
        right: 0.4rem;

        .#{$namespace}button {
            padding: 0 !important;
            width: 4rem;
            height: 3rem;
            text-transform: uppercase;
            font-size: 1.2rem;
            min-height: 3rem;
            min-width: 4rem;
        }

        span.#{$namespace}visually-hidden {
            height: auto;
            margin: auto;
            overflow: hidden;
            position: static;
            width: auto;
        }
    }

    &__input {
        border-radius: 0.5rem !important;
        padding-left: 4rem !important;
        background: url('images/magnifier.svg') no-repeat 1rem 0.9rem !important;
        background-size: 1.7rem 1.8rem !important;
        padding-bottom: 0.5rem;

        &:focus + #{$root}__button {
            .ajax-loading & {
                #{$root}__button-icon {
                    transform: skew(0deg) translate(-8rem, -50%);
                }

                #{$root}__autocomplete-loader {
                    transform: skew(0deg) translate3d(0, 0, 0);
                }
            }
        }
    }

    &__submit {
        border-radius: 0.5rem;
    }

    &__autocomplete-loader {
        top: 0.6rem;
        left: 50%;
        transform: translatex(-50%);
        display: none !important;
        right: 1rem;
    }

    &__autocomplete {
        border: 0.1rem solid $color-line;
        background-color: $colorWhite;
        border-radius: 0.5rem;
        box-shadow: none;
        margin-top: -4.4rem;
        padding-top: 4.5rem;
        padding-bottom: 0.1rem;
        width: 102% !important;
        left: -1%;

        .autocomplete-list {
            border-top: 0.1rem solid $color-line;
        }

        .autocomplete-list-title {
            text-transform: none;
        }

        dl dt {
            color: $colorGray;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 1.4rem;
            letter-spacing: 1px;

            &:not(:empty) {
                border: none;
                background-color: transparent;
            }

            &:hover,
            &.selected {
                background-color: $colorWhite;
            }

            &.title-product ~ dd:not(:empty) {
                border-bottom: 0.1rem solid $color-line;

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        dl dd {
            padding: 1rem;

            &:not(:empty) {
                border: none;
                background-color: transparent;
            }

            &:hover,
            &.selected {
                background-color: $colorGallery;
            }

            .product-item {
                .product-name {
                    font-size: 1.4rem;
                    color: $color-text-dark;
                    font-weight: 300;
                }

                .price-box {
                    .price {
                        font-size: 1.29rem;
                    }
                }

                .old-price .price {
                    color: $colorDoveGray;
                    text-decoration: line-through;
                    font-size: 90%;
                    font-weight: 700;
                }

                .special-price .price {
                    color: $colorCrimson;
                }
            }

            .category-mini-crumb {
                font-size: 1.29rem;
                color: $colorGray;
                font-style: normal;
            }

            .qs-option-name {
                font-size: 1.29rem;
            }

            .product-attribute-label {
                text-transform: none;
                font-size: 1.29rem;
                color: $colorGray;
            }

            .amount {
                color: $colorGray;
                font-size: 1.29rem;
            }
        }

        .price {
            .price-box__price {
                line-height: 1.6rem;
            }
        }

        .price-box {
            .price {
                color: $color-text-dark !important;
            }

            .old-price {
                .price {
                    color: $color-text-dark !important;
                    line-height: 1.1rem !important;
                }
            }

            .special-price {
                color: $color-special-price !important;

                &.active {
                    .price {
                        color: $color-special-price !important;
                    }
                }
            }
        }
    }
}
