.#{$namespace}warnings {
    $root: &;
    padding-bottom: 1.2rem;

    &__icons-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 1.2rem 0;
    }

    &__icon {
            width: 30%;
            padding-right: 2%;

        @include media('>=phone'){
            width: 23%;
            padding-right: 2%;
        }

        @include media('>phone-lg'){
            width: 18%;
            padding-right: 1%;
        }

        @include media('>=tablet') {
            width: 10rem;
            padding-right: 1.2rem;
        }
    }

    &__description {
        font-size: 1.5rem;
        color: $color-paragraph;
        padding-bottom: 1.2rem;
        text-align: justify;
        text-justify: inter-word;

        @include media('<phone-lg') {
            font-size: 1.2rem;
        }
    }
}
