.#{$namespace}header {
    $root: &;
    font-size: 1rem;

    &__content {
        background: $colorWhite;

        @include media('>=laptop') {
            border-bottom: 1px solid $colorGallery;
        }
    }

    &__burger {
        &:after {
            background: $colorCeruleanBlue;
        }

        &--active {
            &,
            &:active,
            &:focus,
            &:hover {
                background: $colorCeruleanBlue;
            }

            #{$root}__burger-icon {
                &,
                &:before,
                &:after {
                    background: $colorWhite;
                }
            }
        }
    }

    &__burger-icon {
        &,
        &:before,
        &:after {
            background: $colorCeruleanBlue;
        }
    }
}
