.#{$namespace}header {
    $root: &;

    @include media('<tablet') {
        padding-top: 6rem;
    }

    &__content {
        background: $colorWhite;

        @include media('<tablet') {
            padding-right: 0.5rem;
        }

        @include media('>=laptop') {
            height: 6.3rem;
        }

        @include media('>=laptop') {
            border-bottom: 0.2rem solid $colorGallery;
        }
    }

    &__burger {
        &:after {
            background: $color-icon-second;
        }

        &--active {
            &,
            &:active,
            &:focus,
            &:hover {
                background: $color-icon-second;
            }

            #{$root}__burger-icon {
                &,
                &:before,
                &:after {
                    background: $colorWhite;
                }
            }
        }
    }

    &__burger-icon {
        &,
        &:before,
        &:after {
            background: $color-icon-second;
        }
    }

    &__search {
        @include media('>=tablet') {
            left: 41%;
            top: 2.2rem;
        }

        @include media('>=laptop') {
            left: 34%;
            top: 2.8rem;
        }
    }

    &__user-area {
        flex: 0 1 30%;
    }
}
