.#{$namespace}header {
    $root: &;

    @include media('<tablet') {
        padding-top: 6rem;
    }

    &__content {
        background: $colorWhite;

        @include media('>=laptop') {
            border-bottom: 0.1rem solid $colorGallery;
        }
    }

    &__burger {
        &:after {
            background: $colorPictonBlue;
        }

        &--active {
            &,
            &:active,
            &:focus,
            &:hover {
                background: $colorPictonBlue;
            }

            #{$root}__burger-icon {
                &,
                &:before,
                &:after {
                    background: $colorWhite;
                }
            }
        }
    }

    &__burger-icon {
        &,
        &:before,
        &:after {
            background: $colorPictonBlue;
        }
    }

    &__search {
        @include media('>=tablet') {
            left: 33%;
        }
    }

    &__user-area {
        flex: 0 1 30%;
    }
}
