.#{$namespace}stack-nav {
    $root: &;

    .delimiter {
        display: none !important;
    }

    &__trigger {
        background-color: $colorGallery;
    }

    &__content {
        @include media('<tablet') {
            background-color: $colorGallery;
        }

        @include media('>=tablet') {
            border-radius: 5px;
            box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.1);
        }
    }

    &__nav {
        #{$root}__list li a,
        #{$root}__list li strong {
            color: $color-dashboard-menu-link;
            padding: 0.6rem 1.8rem 0.6rem 2.5rem;
        }

        #{$root}__list li a:hover {
            background-color: darken($colorGallery, 5%);

            @include media('>=tablet') {
                background-color: $colorGallery;
            }
        }

        #{$root}__list li strong {
            color: $color-dashboard-menu-link;
        }

        // Current item
        #{$root}__list li.current strong {
            font-size: 1.5rem;

            &:after {
                display: none;
            }

            &:before {
                background: $color-dashboard-menu-indicator;
                border-radius: 8px;
                width: 1.2rem;
                left: -0.5rem;
                top: 0.2rem;
                height: calc(100% - 0.4rem);
            }
        }
    }
}
