$namespace: 'cs-';

/* stylelint-disable */

$font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', Arial, sans-serif !default;
/* stylelint-enable */

//Base space between content constructor elements. Here it is divided by 2, because there is top and bottom space in components
$base-space: 2.5rem !default;

body {
    background: $colorWhite;
    font-family: $font-family;
}
