//Main colors
$colorRose: #e20079;
$colorScooter: #28b1d7;
$colorEasternBlue: #139ec5;
$colorMidnightBlue: #00316e;
$colorPrussianBlue: #002758;

//Additional colors
$colorHummingBird: #dff2fb;
$colorGreenHaze: #00c744; //color success texts
$colorThunderbird: #ca321e; //color error texts, also you tube button
$colorYellowOrange: #ffaf47; //color-warning
$colorHintOfYellow: #fbfef5; //success background color
$colorRoseWhite: #fff8f8; //error background color
$colorLightPearl: #fffcf2; //warning background color

//Greys palette
$colorWoodsmoke: #151616;
$colorBoulder: #777777;
$colorGray: #8e8e8e;
$colorAlto: #d0d0d0;
$colorMercury: #e5e5e5;
$colorGallery: #eeeeee;
$colorConcrete: #f3f3f3;
$colorWhite: #fff;

$colorStTropaz: #2a5ca6; //social buttons - facebook button
$colorAliceBlue: #f0f9ff;
$colorMySin: #feb823; //review's stars

// We need to name color more by their position in that project. Variable should have default flag here

//Main colors
$color-first: $colorScooter !default;
$color-first-hover: $colorEasternBlue !default;

//Background
$color-background-contrast: $colorGallery !default;

//Language switcher
$color-language-switcher-bg: $colorConcrete !default;

//Page bottom
$color-pagebottom-text: $colorGray !default;
$color-pagebottom-border: $colorConcrete !default;

//Footer
$color-footer-background: $colorWhite !default;
$color-footer-text: $colorWoodsmoke !default;
$color-footer-text-hover: $colorScooter !default;
$color-footer-text-light: $colorGray !default;

//Headline
$color-headline: $colorWoodsmoke !default;
$color-subheadline: $colorGray !default;

//Image teasers
$color-teaser-dark-scheme-headline: $colorWoodsmoke !default;
$color-teaser-dark-scheme-subheadline: $colorWoodsmoke !default;
$color-teaser-dark-scheme-text: $colorGray !default;
$color-teaser-light-scheme-headline: $colorWhite !default;
$color-teaser-light-scheme-subheadline: $colorWhite !default;
$color-teaser-light-scheme-text: $colorWhite !default;

//Pagination
$color-pagination-arrow: $colorScooter !default;
$color-pagination-active: $colorScooter !default;
$color-pagination-active-hero: $colorScooter !default;

//Hero
$color-hero-dark-scheme-headline: $colorWoodsmoke !default;
$color-hero-dark-scheme-subheadline: $colorWoodsmoke !default;
$color-hero-dark-scheme-text: $colorWoodsmoke !default;
$color-hero-light-scheme-headline: $colorWhite !default;
$color-hero-light-scheme-subheadline: $colorWhite !default;
$color-hero-light-scheme-text: $colorWhite !default;

//Icons
$color-icon-first: $colorMidnightBlue !default;
$color-icon-first-hover: $colorPrussianBlue !default;
$color-icon-second: $colorScooter !default;
$color-icon-second-hover: $colorEasternBlue !default;

$color-icon-active: $colorRose !default;

// Buttons
$color-button-default-text: $colorWhite !default;
$color-button-default-background: $colorScooter !default;
$color-button-default-border: $colorScooter !default;
$color-button-default-text-hover: $colorWhite !default;
$color-button-default-hover: $colorEasternBlue !default;
$color-button-default-background-hover: $colorEasternBlue !default;
$color-button-default-border-hover: $colorEasternBlue !default;

$color-button-light-text: $colorWoodsmoke !default;
$color-button-light-background: $colorWhite !default;
$color-button-light-border: $colorAlto !default;
$color-button-light-text-hover: $colorEasternBlue !default;
$color-button-light-hover: $colorEasternBlue !default;
$color-button-light-background-hover: $colorWhite !default;
$color-button-light-border-hover: $colorEasternBlue !default;

// Text
$color-text-dark: $colorWoodsmoke !default;
$color-paragraph: $colorGray !default;
$color-paragraph-light: $colorAlto !default;

// Badges
$color-badge-discount: $colorRose !default;
$color-badge-new: $colorMidnightBlue !default;

// Lines
$color-line: $colorMercury !default;

//Link
$color-link: $colorScooter !default;
$color-link-hover: $colorEasternBlue !default;

//Prices
$color-special-price: $colorRose !default;
$color-base-price: $colorAlto !default;

//Inputs
$color-input-border: $colorAlto !default;
$color-input-text: $colorWoodsmoke !default;
$color-input-label: $colorWoodsmoke !default;
$color-radio: $colorScooter !default;
$color-radio-hover: $colorEasternBlue !default;
$color-checkbox: $colorScooter !default;
$color-checkbox-hover: $colorScooter !default;
$color-select-border: $colorScooter !default;
$color-select-hover: $colorHummingBird !default;
$color-select-text-hover: $colorScooter !default;

//Additional colors - messages, warnings
$color-success: $colorGreenHaze !default;
$color-error: $colorThunderbird !default;
$color-warning: $colorYellowOrange !default;
$color-success-background: $colorHintOfYellow !default;
$color-error-background: $colorRoseWhite !default;
$color-warning-background: $colorLightPearl !default;

//Dashboard - checkout
$color-dashboard-menu-link: $colorWoodsmoke !default;
$color-dashboard-menu-indicator: $colorMidnightBlue !default;

//Filters
$color-filters: $colorAlto !default;
$color-filters-border-active: $colorScooter !default;
$color-filters-text: $colorWoodsmoke !default;
$color-filters-arrow: $colorScooter !default;
$color-filters-trigger: $colorScooter !default;

//Information stripe
$color-information-stripe-text: $colorWoodsmoke !default;
$color-information-stripe-text-hover: $colorEasternBlue !default;
$color-information-stripe-icon: $colorWoodsmoke !default;
$color-information-stripe-icon-hover: $colorEasternBlue !default;

//Pagination
$color-limiter: $colorScooter !default;
$color-limiter-current: $colorGray !default;
$color-limiter-background-current: $colorAliceBlue !default;
$color-pagination: $colorScooter !default;
$color-pagination-current: $colorGray !default;
$color-pagination-border: $color-line !default;
$color-pagination-border-current: $colorScooter !default;
$color-pagination-arrow: $colorWoodsmoke !default;

//Product question and answer extension
$color-qa-thumb: $colorAlto !default;
$color-qa-thumb-border: $colorAlto !default;
$color-qa-question-text: $color-text-dark !default;
$color-qa-author: $colorGray !default;