$colorWhite: #fff;
$colorConcrete: #f3f3f3;
$colorEdward: #adb9b7;
$colorStTropaz: #2a5ca6;
$colorThunderbird: #ca321e;

// We need to name color more by their position in that project. Variable should have default flah here

//Language switcher
$color-language-switcher-bg: #f3f3f3 !default;

//Page bottom
$color-pagebottom-text: #a6a6a6 !default;

//Footer
$color-footer-background: #fff;
$color-footer-text: #151616;
$color-footer-text-hover: #35abdf;
$color-footer-text-light: #a7aaaa;

//Headline
$color-headline: #000 !default;
$color-subheadline: #010000 !default;
$colorDustyGray: #989898;

//Image teasers
$color-teaser-dark-schema-headline: #000 !default;
$color-teaser-dark-schema-subheadline: #1c1c1c !default;
$color-teaser-dark-schema-text: #8a8a8a !default;
$color-teaser-light-schema-headline: #fff !default;
$color-teaser-light-schema-text: #fff !default;

//Icons
$color-icon-first: #00316e;
$color-icon-second: #35abdf;

//Borders
$color-first: #35abdf;
$color-border-first: rgba(53, 171, 223, 0.6);
$color-second: #d1d1d1;
$color-border-second: rgba(209, 209, 209, 0.3);

// Text
$color-text-light: #a4a4a4;
$color-text-dark: #151616;
$color-text-hover: #35abdf;

// Badges
$colorMercury: #e8e8e8;

// Buttons
$colorButton: #35abdf;

//Link
$color-link: #35abdf;
