.#{$namespace}discount {
    border-top: 1px solid $color-line;

    @include media ('>=laptop'){
        border-top: 0;
    }

    &__title {
        &:after {
            background-image: url('images/arrow_next.svg');
        }
    }

    &__text {
        font-size: 1.4rem;
    }
}
