.tl-timeline {
    margin-bottom: 8rem;

    @include media('<tablet') {
        height: 85rem !important;
        margin-bottom: 5rem;
    }

    .tl {
        $root: &;

        //Mobile styles

        &-storyslider,
        &-slider-container-mask,
        &-slider-container {
            @include media('<tablet') {
                height: 65rem !important;
            }
        }

        &-slide-content-container {
            @include media('<tablet') {
                align-items: flex-start !important;
            }
        }

        //Mobile styles ends

        &-credit,
        &-caption {
            display: none !important;
        }

        &-timeline {
            font-family: $font-family !important;
        }

        &-headline-date,
        h3 {
            font-family: $font-family !important;
            font-weight: 300;
            font-size: 6rem !important;
            color: $colorBlack !important;
            padding-top: 1.5rem;
            position: relative;
            line-height: 140% !important;
            margin: 2rem 0 !important;

            @include media('<tablet') {
                font-size: 5rem !important;
                margin: 0 0 1rem !important;
                text-align: center;
                padding-top: 0;
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 4.8rem;
                height: 0.5rem;
                background-image: url('images/timeline-title.png');
                background-size: contain;

                @include media('<tablet') {
                    display: none;
                }
            }
        }

        &-text {
            font-family: $font-family !important;
            display: block !important;

            p {
                font-family: $font-family !important;
                font-weight: 300 !important;
                color: $colorGray !important;
                font-size: 1.5rem !important;
                line-height: 1.7;

                @include media('>=laptop-lg') {
                    line-height: 2;
                }

                @include media('<tablet') {
                    font-size: 1.4rem !important;
                    line-height: 1.6;
                }
            }
        }

        &-timemarker-text,
        &-timemarker {
            font-family: $font-family !important;
            font-weight: 300 !important;
        }

        &-attribution {
            display: none !important;
        }

        &-slide-scrollable-container {
            margin: 0 auto !important;

            @include media('<tablet') {
                width: 100%;
            }
        }

        &-slide-content {
            display: flex !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            flex-direction: column !important;
            padding-bottom: 3rem;
            width: 100% !important;

            @include media('>=tablet') {
                flex-direction: row-reverse !important;
                max-width: 60rem !important;
                margin: 0 auto;
            }

            @include media('>=laptop') {
                max-width: 85rem !important;
            }

            @include media('>=laptop-lg') {
                max-width: 95rem !important;
            }
        }

        &-media-item {
            max-width: 38rem !important;
            display: block;
            width: 100%;
            height: 100%;
            max-height: 100% !important;
            float: right;
            box-shadow: none;

            @include media('<tablet') {
                max-width: 20rem !important;
                margin: 0 auto;
                float: none !important;
            }
        }

        &-text {
            text-align: left !important;
            padding-left: 0;

            @include media('>=tablet') {
                max-width: 70% !important;
                width: 70% !important;
            }

            @include media('>=laptop') {
                max-width: 60% !important;
                width: 60% !important;
            }
        }

        &-media {
            display: block !important;
            margin: 0 !important;
            max-width: 40% !important;
            min-width: 40% !important;
            width: 40% !important;
            border-top: none !important;

            @include media('<laptop') {
                max-width: 30% !important;
                width: 30% !important;
                min-width: 30% !important;
            }

            @include media('<tablet') {
                max-width: 100% !important;
                width: 100% !important;
                padding-top: 0 !important;
            }
        }

        &-media-content {
            text-align: right;
            @include media('<tablet') {
                width: 100%;
            }
        }

        &-media-content-container {
            @include media('<tablet') {
                width: 100%;
            }
        }

        &-storyslider {
            @include media('>=tablet') {
                min-height: 50rem !important;
            }
        }

        &-headline {
            line-height: 1.3rem !important;
            -webkit-line-clamp: 2 !important;
        }

        &-timemarker-media {
            max-width: 3.2rem;
            height: 3.2rem;
            margin-top: 0 !important;
        }

        &-timemarker-content-container {
            width: 15rem;
            height: 4rem !important;
            margin-top: 0.5rem;
        }

        &-timemarker-content {
            padding-top: 0.7rem !important;
        }

        &-menubar {
            top: auto !important;
            bottom: 5rem !important;

            @include media('<tablet') {
                bottom: 4.5rem !important;
            }
        }

        &-slidenav-icon {
            display: none;
        }

        &-slidenav-next {
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            background-color: $colorConcrete;
            width: 5rem;
            height: 5rem;
            padding: 1.5rem;
            box-sizing: border-box;
            right: 0 !important;
            margin: 0;
            background-image: url('images/icon_arrow-right.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 2.3rem 1.8rem;

            @include media('<tablet') {
                top: 20.5rem !important;
            }
        }

        &-slidenav-previous {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            background-color: $colorConcrete;
            width: 5rem;
            height: 5rem;
            padding: 1.5rem;
            box-sizing: border-box;
            left: 0;
            margin: 0;
            background-image: url('images/icon_arrow-left.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 2.3rem 1.8rem;

            @include media('<tablet') {
                top: 20.5rem !important;
            }

            .tl-slidenav-content-container {
                left: 1.5rem !important;
            }
        }

        &-slidenav-description {
            font-family: $font-family !important;
            color: $colorGray;
            font-size: 1.5rem !important;
            font-weight: 300 !important;
            opacity: 1 !important;
            margin: 5rem 0 0 !important;
            width: 4rem !important;
        }

        &-slidenav-content-container {
            width: 4rem;
            height: 2rem;
            left: -1rem;
        }

        &-timenav {
            background: #e4e4e4 !important;
            box-shadow: inset 0 8px 12px -6px rgba(82, 82, 82, 0.5);
            border-top: 1px solid #b6b6b6;
        }

        &-timeaxis-background {
            box-shadow: 0 0 6px 0 rgba(82, 82, 82, 0.4);
            border-top: 1px solid #b6b6b6;
            border-bottom: 1px solid #cdcdcd;
            background: linear-gradient(
                            to bottom,
                            rgba(255, 255, 255, 1) 0%,
                            rgba(255, 255, 255, 1) 45%,
                            rgba(234, 234, 234, 1) 100%
            );
        }
    }
}
