.#{$namespace}cookie-message {
    $root: &;
    flex-wrap: wrap;

    @include media('>=phone'){
        flex-wrap: nowrap;
    }

    #{$root}__button {
        margin-top: 1rem;
        padding: 0.8rem 1.5rem 1rem;

        @include media('>=phone'){
            margin-top: 0;
        }

        @include media('>=phone-lg') {
            padding: 0.8rem 2.5rem 1.1rem !important;
        }

        span {
            vertical-align: middle;
            vertical-align: -webkit-baseline-middle;

            @media not all and (min-resolution: 0.001dpcm) {
                @supports (-webkit-appearance: none) and
                    (stroke-color: transparent) {
                    @include media('<=laptop') {
                        transform: translateY(-0.2rem);
                        display: inline-block;
                    }
                }
            }
        }
    }
}
