.#{$namespace}navigation {
    $root: &;

    &__flyout {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    }

    &__item {
        &:hover {
            > #{$root}__link {
                color: $colorCeruleanBlue;
            }
        }
    }

    &__link {
        &:hover {
            text-decoration: none;
            color: $colorCeruleanBlue;
        }

        &--category {
            border-color: $colorAlto;
        }
    }

    &__products {
        &-header {
            @extend .#{$namespace}navigation__category;
            border-bottom: 1px solid $colorAlto;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 0.9em;
        }
    }

    &__overlay {
        background-color: #000;
    }
}
