.#{$namespace}navigation {
    $root: &;
    width: 60%;
    margin: auto;

    &__flyout {
        box-shadow: none;

        &--visible {
            border: 0.2rem solid $color-border-second;
            border-radius: 0.5rem;
        }
    }

    &__item {
        border: 0.2rem solid $colorWhite;

        &:hover {
            border: 0.2rem solid $color-border-second;
            border-bottom-color: $colorWhite;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;

            > #{$root}__link {
                color: initial;
            }
        }

        &:first-of-type {
            .#{$namespace}navigation__flyout--visible {
                border-top-left-radius: 0;
            }
        }

        &:last-of-type {
            .#{$namespace}navigation__flyout--visible {
                border-top-right-radius: 0;
            }
        }

        &--active {
            .#{$namespace}navigation__link {
                &:after {
                    content: '';
                    width: 100%;
                    position: absolute;
                    height: 1rem;
                    background: $colorWhite;
                    bottom: -0.1rem;
                    left: 0;
                    z-index: 2000;
                }
            }
        }
    }

    &__link {
        font-size: 1.4rem;
        text-transform: capitalize;
        color: $color-text-dark;
        position: relative;
        padding: 1rem;

        &:hover {
            text-decoration: none;
            color: $color-text-hover;
        }

        &--category {
            border-color: $color-second;
        }
    }

    &__products {
        &-header {
            @extend .#{$namespace}navigation__category;
            border-bottom: 0.1rem solid $color-second;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 0.9em;
        }
    }

    &__overlay {
        background-color: #000;
    }

    .active {
        > #{$root}__link {
            color: initial;
        }
    }
}
