@import '../../../node_modules/creative-patterns/packages/components/grid-layout/src/grid-layout';

$bricksPerRow: (
    phone: 1,
    phone-lg: 2,
    tablet: 3,
    laptop: 4,
    laptop-lg: 4,
    desktop: 4,
    tv: 4
);

$bricksPerRowInColumn: (
    phone: 1,
    phone-lg: 2,
    tablet: 2,
    laptop: 3,
    laptop-lg: 3,
    desktop: 3,
    tv: 3
);

$bricksHeight: (
    phone: 376px,
    phone-lg: 376px,
    tablet: 436px,
    laptop: 436px,
    laptop-lg: 436px,
    desktop: 436px,
    tv: 436px
);

.#{$namespace}grid-layout {
    @include gridLayout($bricksPerRow, $bricksHeight, 0);

    @include media('<tablet') {
        width: 100%;
    }

    &:after {
        .#{$namespace}category-page &,
        .#{$namespace}background--contrast & {
            display: none;
        }
    }

    &__brick {
        .#{$namespace}category-page__products-wrapper & {
            border: 1px solid $colorGallery;
        }

        &:after {
            background-color: $colorGallery;

            .#{$namespace}category-page__products-wrapper & {
                height: 2px;
                bottom: -2px;
            }
        }

        &:before {
            background-color: $colorGallery;
        }

        // IE11 seems to not have enough space
        @include media('>=laptop') {
            .ie11 & {
                width: calc((100% - 1px) / 4) !important;
            }
        }
    }

    &__teaser-image {
        @include media('<phone-lg') {
            height: auto;
        }
    }
}

.#{$namespace}grid-layout_in-column {
    @include gridLayout($bricksPerRowInColumn, $bricksHeight, 0);
}
