.#{$namespace}qty-increment {
    $root: &;
    &__input {
        border: 1px solid $colorAlto;
        border-radius: 3px;
    }

    &__button {
        border-radius: 0;

        &:hover {
            background-color: transparent;
            border-top: 0;
            border-bottom: 0;

            #{$root}__icon {
                fill: $colorCeruleanBlueHover;
            }
        }

        &:focus,
        &:active {
            background-color: transparent;
            border-top: 0;
            border-bottom: 0;
        }

        &:active {
            outline: 1px dotted $colorAlto;
        }

        &--decrement {
            border-right-color: $colorAlto;

            &:hover,
            &:focus,
            &:active {
                border-left: 0;
                border-right-color: $colorAlto;
                box-shadow: none;
            }
        }

        &--increment {
            border-left-color: $colorAlto;

            &:hover,
            &:focus,
            &:active {
                border-right: 0;
                border-left-color: $colorAlto;
                box-shadow: none;
            }
        }
    }

    &__icon {
        fill: $colorCeruleanBlue;
    }
}
