.#{$namespace}aftersearch-nav {
    $root: &;
    &__filter {
        border-bottom-color: $colorAlto;

        #{$root}__filter-title,
        &.active #{$root}__filter-title {
            #{$root}__filter-arrow {
                &:after {
                    font-size: 19px;
                    font-weight: 700;
                    color: $colorGray;
                    line-height: 15px;
                }
            }
        }

        &.active {
            #{$root}__filter-title {
                #{$root}__filter-arrow {
                    &:after {
                        line-height: 13px;
                    }
                }
            }
        }
    }

    & #{$root}__filter-title {
        font-size: 13px;
        font-weight: 400;
    }

    &__button {
        &--apply-filters {
            background: transparent !important;
            border-color: currentColor !important;
            color: $colorCeruleanBlue !important;
            font-weight: 400 !important;
            font-size: 14px;
        }
    }
}
