.#{$namespace}category-page {
    $root: &;

    @include media('>=tablet') {
        border-bottom: 1px solid $color-line;
    }

    .page-title-wrapper {
        @include media('<tablet') {
            margin-bottom: 0;
        }

        .page-title {
            @include media('<tablet') {
                text-transform: uppercase;
                font-size: 1.6rem;
            }

            @include media('>=tablet') {
                font-size: 2.5rem;
                margin: 0 auto;
            }

            @include media('>=laptop') {
                font-size: 2.9rem;
            }

            &__span {
                display: none;
            }
        }
    }

    &__toolbar-label {
        @extend .#{$namespace}t-text;
        @extend .#{$namespace}t-text--look_label;
        @extend .#{$namespace}t-text--size_250;
    }

    &__toolbar-sorter {
        .#{$namespace}html-select__trigger-text {
            line-height: 2.4rem;
        }
    }

    &__sorter-direction {
        &-btn {
            &:first-child {
                border-right: 1px solid $color-line;
            }
        }

        &-icon {
            fill: $colorGray;

            #{$root}__sorter-direction-btn--current &,
            #{$root}__sorter-direction-btn:hover & {
                fill: $colorCeruleanBlue;
            }
        }
    }

    &__main {
        @include media('>=tablet') {
            border-left: 1px solid $color-line;
        }
    }

    &--filters-full-top {
        #{$root}__products-wrapper {
            border-top: 1px solid $colorGallery;
            border-bottom: 1px solid $colorGallery;
        }

        .cs-aftersearch-nav__state + #{$root}__products-wrapper {
            border-top: none;
        }

        #{$root}__inner-sidebar {
            display: none;

            @include media('>=tablet') {
                border-right: 1px solid $colorGallery;
            }
        }
    }

    &__products-wrapper {
        @include media('>=tablet') {
            border-bottom: 0 !important;
        }
    }
}
