.#{$namespace}category-page {
    $root: &;

    @include media('>=tablet') {
        border-bottom: none;
    }

    .page-title-wrapper {
        @include media('<tablet') {
            margin-bottom: 0;
        }

        .page-title {
            @include media('<tablet') {
                text-transform: none;
                font-size: 2rem;
            }

            @include media('>=tablet') {
                font-size: 2.5rem;
                margin: 0 auto;
            }

            @include media('>=laptop') {
                font-size: 2.9rem;
            }

            &__span {
                display: none;
            }
        }
    }

    &__toolbar-sorter,
    &__toolbar-limiter {
        display: none;
    }

    &__toolbar-left {
        display: none;
    }

    &__toolbar-right {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 0;
        padding-top: 2rem;
    }

    &__toolbar-top {
        #{$root}__toolbar-right {
            display: none;
        }

        #{$root}__toolbar-left {
            z-index: 21;
            display: block;

            @include media('>=tablet') {
                display: flex;
                justify-content: space-between;
            }

            #{$root}__toolbar-label {
                text-transform: none;
                color: $colorGray;
                font-size: 1.4rem;
                padding-right: 1.2rem;
            }

            #{$root}__toolbar-limiter {
                display: none;

                @include media('>=tablet') {
                    order: 1;
                    display: flex;
                }
            }

            #{$root}__toolbar-sorter {
                order: 2;
                display: flex;

                @include media('<tablet') {
                    max-width: 30rem;
                }

                @include media('>=tablet') {
                    width: 20.5rem;
                }

                @include media('>=laptop') {
                    width: 28rem;
                }

                .#{$namespace}html-select__trigger-caret-arrow {
                    &:before,
                    &:after {
                        background-color: $color-filters;
                    }
                }
            }
        }

        #{$root}__toolbar-sorter,
        #{$root}__toolbar-limiter {
            display: block;
        }
    }

    &__toolbar-label {
        @extend .#{$namespace}t-text;
        @extend .#{$namespace}t-text--look_label;
        @extend .#{$namespace}t-text--size_250;
    }

    &__toolbar-sorter {
        position: relative;
        width: auto;
        align-items: center;

        @include media('<tablet') {
            flex-wrap: wrap;
        }

        #{$root}__toolbar-label {
            display: none;
        }

        .#{$namespace}html-select {
            min-width: 14rem;
            background: $colorWhite;
            width: 100%;

            @include media('<tablet') {
                min-width: 16rem;
            }

            @include media('<tablet') {
                width: calc(100% - 7rem);
            }
        }

        .#{$namespace}html-select__trigger {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border: 1px solid $color-filters;

            &-text {
                padding-top: 0;
            }
        }

        .#{$namespace}html-select__trigger-text {
            line-height: 2.4rem;
        }
    }

    &__sorter-direction {
        position: relative;
        border: 1px solid $color-filters;
        max-height: 3.8rem;
        margin-left: -1px;
        margin-right: 0;
        box-sizing: border-box;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: border-color 0.15s linear;
        background: $colorWhite;

        &:hover {
            border-color: $color-filters;
            z-index: 6;
        }

        &-btn {
            border: none !important;
            width: 3.4rem;
            box-sizing: border-box;

            @include media('>=tablet') {
                width: 3rem;
            }

            &:first-child {
                transform: rotate(180deg);
                border-right: 1px solid $color-line;
            }
        }

        &-icon {
            width: 1rem;
            height: 1.4rem;
            fill: $color-filters;

            #{$root}__sorter-direction-btn:first-child & {
                left: 34%;
                transform: translate3d(-50%, -54%, 0);
            }

            #{$root}__sorter-direction-btn:last-child & {
                left: 36%;
            }

            #{$root}__sorter-direction-btn:hover &,
            #{$root}__sorter-direction-btn--current & {
                fill: $color-filters-arrow;
            }
        }
    }

    &__main {
        @include media('>=tablet') {
            border-left: none;
        }
    }

    &--filters-full-top {
        #{$root}__products-wrapper {
            border-top: 1px solid $colorGallery;
            border-bottom: 1px solid $colorGallery;
        }

        .cs-aftersearch-nav__state + #{$root}__products-wrapper {
            border-top: none;
        }

        #{$root}__inner-sidebar {
            display: none;

            @include media('>=tablet') {
                border-right: 1px solid $colorGallery;
            }
        }
    }

    &__products-wrapper {
        @include media('>=tablet') {
            border-bottom: 0 !important;
        }
    }
}
