.#{$namespace}info-page {
    &__section {
        @include media('>=tablet') {
            &:nth-child(2n + 2) {
                border-left: 1px solid $color-line;
            }
        }
    }

    &__inner {
        border-top: 2px solid $color-line;
    }

    &__text {
        font-size: 1.5rem;
        color: $color-paragraph;
    }
}
