.#{$namespace}link {
    @include link($colorPictonBlue, 1.4rem);
    text-transform: none;
    font-weight: 300;

    &--cart {
        font-weight: 700;
        font-size: 1.1rem;
    }

    &--look {
        &_text {
            color: $colorDoveGray;
            text-decoration: none;

            &:visited,
            &:hover {
                color: $colorDoveGray;
            }
        }
    }

    &--size {
        &_300 {
            font-size: 1.2rem;
        }
    }

    &--separator {
        margin-right: 0.5rem;

        &:after {
            background: $colorAlto;
        }
    }

    &__icon {
        fill: rgba(0, 0, 0, 0.25);

        &--big {
            fill: $colorPictonBlue;

            &:hover {
                fill: $colorPictonBlue;
            }
        }

        &--edit {
            fill: $colorPictonBlue;
        }
    }
}
