.#{$namespace}link {
    @include link($color-link, 1.4rem);
    text-transform: none;
    font-weight: 300;

    &--cart {
        font-weight: 400;
        font-size: 1.1rem;

        &:hover {
            text-decoration: none;
            color: $color-link-hover;
        }
    }

    &--look {
        &_text {
            color: $colorDoveGray;
            text-decoration: none;

            &:visited,
            &:hover {
                color: $colorDoveGray;
            }
        }
    }

    &--size {
        &_300 {
            font-size: 1.2rem;
        }
    }

    &--separator {
        margin-right: 0.5rem;

        &:after {
            background: $color-second;
        }
    }

    &__icon {
        fill: rgba(0, 0, 0, 0.25);

        &--big {
            fill: $color-icon-second;

            &:hover {
                fill: $color-icon-second;
            }
        }

        &--edit {
            fill: $color-icon-second;
        }
    }
}
