.#{$namespace}product-description {
    $root: &;

    &__nav {
        display: none;
    }

    &__item {
        border-bottom: none;

        @include media('>=tablet') {
            border-bottom: none;
        }

        @include media('>=laptop') {
            margin-right: 0;
        }
    }

    &__headline {
        @include media('>=tablet') {
            font-size: 2.9rem !important;
            text-align: center;
        }
    }

    &__content {
        @include media('>=tablet') {
            padding-top: 2.5rem;
        }
    }
}
