.#{$namespace}product-description {
    $root: &;

    &__item {
        border-bottom: 1rem solid $colorWhite;

        @include media('>=tablet') {
            border-bottom: 1px solid $colorAlto;

            &:last-child {
                border-bottom: none;
            }
        }

        &--bottom {
            @include media('>=tablet') {
                background: $colorWhite;
            }
        }
    }

    &__headline {
        @include media('<tablet') {
            font-size: 1.4rem;
        }

        .counter {
            font-weight: 300;
        }
    }
}
