.#{$namespace}information-stripe {
    $root: &;

    &__item:not(.cs-information-stripe__item--login) {
        display: none !important;
    }

    &__account-link {
        &:hover {
            text-decoration: none;

            #{$root}__account-label {
                color: $color-information-stripe-text-hover;
            }

            #{$root}__account-icon {
                fill: $color-information-stripe-icon-hover;
                stroke: $color-information-stripe-icon-hover;
            }
        }
    }

    &__account-label {
        font-size: 1.1rem;
        color: $color-information-stripe-text;
        margin-right: 0.5rem;
    }

    &__account-icon {
        fill: $color-information-stripe-icon;
        stroke: $color-information-stripe-icon;
        height: 1.3rem;
    }

    display: none;
}
