.#{$namespace}page-bottom {
    $root: &;
    font-family: $font-family;
    display: flex;
    padding: 0;
    justify-content: flex-start;
    flex-flow: column wrap;
    align-items: flex-start;

    @include media('>=tablet') {
        justify-content: space-between;
        padding: 3.3rem 0;
        flex-direction: row;
        align-items: center;
    }

    @include media('>=laptop') {
        flex-wrap: nowrap;
    }

    &:after {
        display: none;
    }

    .#{$namespace}switcher-language {
        margin-left: 1.1rem;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__column {
        width: 100%;
        display: flex;
        align-items: center;

        @include media('>=phone-lg') {
            width: auto;
        }

        &--logo {
            padding-right: 6rem;
            box-sizing: border-box;

            @include media('<laptop') {
                display: none;
            }

            img {
                max-width: 11rem;
                height: auto;
                display: block;
            }
        }

        &--shipping,
        &--payment {
            img {
                max-width: 4.9rem;
                max-height: 2.9rem;
                margin-right: 2rem;
                box-sizing: border-box;
                height: auto;
                width: auto;
                display: block;
            }
        }

        &--shipping {
            @include media('<tablet') {
                padding: 1.5rem 0 0.8rem;
            }
        }

        &--payment {
            @include media('<tablet') {
                padding: 0.7rem 0 1.5rem;
            }
        }
    }

    &__column-title {
        font-size: 1.4rem;
        margin: 0;
        color: $color-pagebottom-text;

        @include media('<tablet') {
            display: none;
        }
    }

    &__list,
    &__list p {
        display: flex;
        align-items: center;
        margin-left: 1.5rem;
        margin-bottom: 0;

        @include media('<tablet') {
            width: 100%;
            margin-left: 0;
        }
    }

    &__list p {
        margin-left: 0;
    }
}
