.#{$namespace}form {
    $root: &;
    font-size: 1rem;

    &__fieldset-inner {
        @include media('>=laptop') {
            border-bottom: 1px solid $colorAlto;
        }
    }

    &__group {
        border: none;
    }
}
