.#{$namespace}logo {
    $root: &;

    &__image {
        width: auto;
        height: 100%;
        align-self: center;

        @include media('<tablet') {
            max-height: 4.5rem;
        }

        @include media('>=tablet') {
            height: auto;
            max-height: 6.8rem;
        }

        .ie11 & {
            max-width: 100%;
        }
    }
}
