.#{$namespace}payment {
    &__title {
        border-top: 1px solid $colorAlto;
    }

    &__billing-label {
        font-weight: 700;
        color: $colorMineShaft;
    }

    &__billing-details {
        @extend .#{$namespace}t-text;
        color: $colorDoveGray;
        line-height: 1.6;
        font-weight: 300;
    }

    &__payment-description {
        @extend .#{$namespace}t-text;
    }

    &__text {
        @extend .#{$namespace}t-text;
        margin-top: 2rem;
    }
}
