.#{$namespace}payment {
    &__title {
        border-top: 1px solid $color-line;
    }

    &__billing-label {
        font-weight: 700;
        color: $color-headline;
    }

    &__billing-details {
        color: $color-headline;
        line-height: 1.7;
        font-weight: 400;
    }
}
