.#{$namespace}cart-item {
    $root: &;
    border-top: 1px solid $color-line;

    &__name {
        color: $color-link;
        font-weight: 400;
    }

    &__name a {
        color: $color-link;
        font-weight: 400;
    }

    &__price {
        .price {
            font-weight: 400;
            color: $color-paragraph;
        }
    }

    &__subtotal {
        .price {
            font-weight: 700;
            color: $color-text-dark !important;
        }
    }

    .#{$namespace}cart-item__badge {
        width: 3rem;
        height: 3rem;

        span {
            margin-left: 0;
            padding: 0;
            line-height: 2.8rem;
        }
    }

}
