.#{$namespace}star-rating {
    $root: &;

    &__star {

        &--half-active:before,
        &--active:before {
            color: $colorMySin;
        }
    }

    &__text {
        color: $color-paragraph;
    }

}
