.#{$namespace}star-rating {
    $root: &;

    &__star {
        margin-right: 0.3rem;

        &--half-active:before,
        &--active:before {
            color: $colorMySin;
        }

        &--half-active:after {
            left: 1rem;
            text-indent: -1rem;
        }

        .#{$namespace}review__rating & {
            font-size: 1.3rem;
            margin-right: 0.1rem;

            &:before {
                transform: translateY(-25%);
            }
        }
    }

    .#{$namespace}product-sale-block & {
        padding-bottom: 1rem;
    }

    &__stars {
        overflow: visible;
    }

    &__text {
        font-size: 1.19rem;
        color: $color-paragraph;
    }
}
