.#{$namespace}grid-product {
    $root: &;

    background: $colorWhite;

    &:before {
        border-radius: 0.5rem;
    }

    &--show-details:before {
        box-shadow: 1px 3px 4.5rem 0 rgba(30, 48, 67, 0.34);
    }

    .ie11 .#{$namespace}products-promo & {
        padding-right: 0.3rem;
    }

    &__badges {
        right: 1.5rem;
        left: auto;
    }

    &__main {
        border-radius: 0.5rem;

        &:hover {
            .#{$namespace}grid-product__name-link {
                color: $color-link-hover !important;
            }
        }
    }

    &__name {
        font-weight: 400;
        font-size: 1.531rem;
        color: $color-text-dark;
        margin-bottom: 1rem;
    }

    &__name-link {
        color: $color-text-dark;
    }

    &--shadow {
        border-radius: 0.5rem;

        &:before {
            border-radius: 0.5rem;
        }

        @include media('>=laptop') {
            &:hover {
                box-shadow: 1px 3px 4.5rem 0 rgba(30, 48, 67, 0.34);
            }
        }
    }

    &__price {
        text-align: left;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.8rem;
        position: relative;

        .baseprice {
            position: absolute;
            top: 2.8rem;
            left: 0;
            font-size: 1.1rem;
            color: $color-base-price;
            font-weight: 400;
        }
    }
}
