.#{$namespace}grid-product {
    $root: &;

    background: $colorWhite;

    @include media('>=laptop') {
        .ie11 .#{$namespace}products-promo & {
            max-width: 27rem !important;
            margin: 0 auto;
            padding: 0 !important;
        }
    }

    &:before {
        border-radius: 0.5rem;
    }

    &--show-details:before {
        box-shadow: 1px 3px 4.5rem 0 rgba(30, 48, 67, 0.34);
    }

    .ie11 .#{$namespace}products-promo & {
        padding-right: 0.3rem;
    }

    &__badges {
        right: 1.5rem;
        left: auto;

        .ie11 & {
            @include media('>=laptop-lg') {
                right: 1.8rem;
            }

            @include media('>=desktop') {
                right: 2.2rem;
            }
        }
    }

    &__main {
        border-radius: 0.5rem;

        &:hover {
            .#{$namespace}grid-product__name-link {
                color: $color-link-hover !important;
            }
        }
    }

    &__name {
        font-weight: 400;
        font-size: 1.531rem;
        color: $color-text-dark;
        margin: 0.3rem 0 0.7rem;
    }

    &__name-link {
        color: $color-text-dark;
        line-height: 1.7rem;
    }

    &--shadow {
        border-radius: 0.5rem;

        &:before {
            border-radius: 0.5rem;
        }

        @include media('>=laptop') {
            &:hover {
                box-shadow: 1px 3px 4.5rem 0 rgba(30, 48, 67, 0.34);
            }
        }
    }

    &__price {
        text-align: left;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.8rem;
        position: relative;

        .baseprice {
            position: absolute;
            top: 2.8rem;
            left: 0;
            font-size: 1.1rem;
            color: $color-base-price;
            font-weight: 400;
        }

        .ie11 .#{$namespace}products-promo & {
            @include media('>=laptop-lg') {
                padding-right: 0;
                .price-box {
                    margin-top: 0.9rem !important;
                }

                .baseprice,
                #{$root}__biocidalproduct {
                    top: 3.5rem !important;
                }
            }
        }
    }

    &__warning {
        display: flex;
        height: 2.5rem;
        margin-top: 1.25rem;

        .#{$namespace}warnings__icon {
            height: 2rem;
            width: 2rem;
            display: inline-block;
            padding-right: 0.2rem;
        }
    }

    &__warning-icons-wrapper {
        margin-right: 0.3rem;
    }

    &__warning-text {
        font-size: 1.1rem;
        padding: 0.3rem 0;
        &,
        &:visited {
            color: $color-paragraph-light;
            text-decoration: none;
        }

        &:hover {
            color: $color-link-hover;
            text-decoration: none;
        }
    }
}

// Item cloner tile should the same modification on ie11 for carousels on pdp
.ie11 .#{$namespace}item-cloner {
    .#{$namespace}grid-product {
        @include media('>=laptop-lg') {
            padding-right: 0;
            .price-box {
                margin-top: 0.9rem !important;
            }

            .baseprice,
            .#{$namespace}grid-product__biocidalproduct {
                top: 3.5rem !important;
            }
        }
    }
}
