.#{$namespace}styleguide {
    $root: &;

    &__main-title {
        color: $color-headline;
        font-weight: 400;
        border-bottom: 1px solid $color-line;
    }

    &__title {
        color: $color-headline;
        font-weight: 400;
        border-bottom: 1px solid $color-line;
    }

    &__section {
        &--columns {
            & > * {
                padding: 1rem 0;
            }
        }
    }

    #ui-datepicker-div {
        display: none !important;
    }
}
