.#{$namespace}faq-index {
    $root: &;
    
    a { 
        text-decoration: none;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 700;
    }

    &__voting-container {
        font-size: 1.6rem;

        .#{$namespace}t-text--look_attention,
        .#{$namespace}t-text--look_attention:hover, {
            font-weight: 400;
        }
    }

    &__title a {
        transition: color 0.15s;

        &,
        &:visited {
            color: $color-headline;
        }

        &:hover {
            color: $color-link-hover;
        }
    }

    &__list-item {
        font-size: 1.5rem;

        & a {
            &,
            &:visited {
                color: $color-text-dark;
            }
        }

        &:hover {
            background: none;

            a {
                color: $color-link-hover;
            }
        }

        &:before {
            display: none;
        }
    }

    &__list-item-icon {
        fill: $color-text-dark;

        .#{$namespace}faq-index__list-item:hover & {
            fill: $color-link-hover;
        }
    }

    &__search-form {
        .#{$namespace}button__icon--search {
            fill: $color-text-dark;
            width: 1.7rem;
            height: 1.7rem;
        }
    }
}
