.#{$namespace}checkout {
    $root: &;

    &__sidebar {
        @include media('>=tablet') {
            margin-top: 4.8rem;
        }
    }

    &__sidebar-inner {
        @include media('>=tablet') {
            box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.18);
        }
    }

    &__sidebar-bottom {
        padding-right: 0;
        float: left;

        @include media('>=tablet') {
            float: right;
        }
    }

    &__step-content {
        &--rates {
            @include media('>=tablet') {
                box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.18);
            }
        }
    }

    &__step-form {
        @include media('>=tablet') {
            box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.18);
        }
    }

    &__address {
        border-radius: 3px;
        border: 1px solid $color-line;

        &.selected-item {
            border: 1px solid $color-first;

            .#{$namespace}input__label:before,
            .#{$namespace}input__label:after {
                border-color: $color-first;
            }

            .#{$namespace}input__label:after {
                background-color: $color-first;
                left: calc(50% - 0.15rem);

                @media screen and (-webkit-min-device-pixel-ratio: 0) {
                    @supports (background-attachment: local) {
                        left: calc(50% - 0.1rem);
                    }
                }
            }

            .#{$namespace}input__label:before {
                width: 1.7rem;
                height: 1.7rem;
            }
        }
    }

    &__address-text {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 2rem;
    }

    &__separator {
        background: $color-line;
    }

    .table-checkout-shipping-method {
        thead {
            border-bottom: none;
        }
    }

    &__summary-title {
        font-size: 1.8rem !important;
        font-weight: 700 !important;
        color: $color-headline !important;

        &--bordered {
            border-top: 1px solid $color-line;
        }
    }

    &__summary-edit {
        padding-bottom: 1.5rem !important;
        font-weight: 700;
    }

    &__summary-table {
        td,
        th {
            font-weight: 400;
            font-size: 1.4rem;
        }

        .grand {
            border-top: 1px solid $color-line;

            th,
            td {
                color: $colorWoodsmoke;
                font-weight: 700 !important;
                font-size: 1.5rem !important;
            }
        }
    }

    &__authentication {
        .action-auth-toggle {
            span {
                font-size: 1.4rem;

                @include media('>=tablet') {
                    font-size: 1.2rem;
                }
            }
        }

        .authentication-dropdown {
            border: none;

            .modal-inner-wrap {
                box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.27);
            }

            &:before {
                border: solid transparent;
                border-color: rgba(136, 183, 213, 0);
                border-top-color: $colorWhite;
                border-width: 1.4rem;
            }

            &:after {
                background: $colorWhite;
                box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.27);
            }
        }
    }

    &__estimation-block {
        font-size: 1.8rem;
        font-weight: 700;
    }

    &__place-order {
        border-bottom: 2px solid $color-line;
    }

    &__agreements {
        font-size: 1.2rem;
        border-top: 2px solid $color-line;
    }

    .#{$namespace}minicart__title-qty {
        color: $color-headline;
    }

    .#{$namespace}minicart-product__options-label,
    .#{$namespace}minicart-product__options-value {
        color: $color-headline;
        font-size: 1.4rem;
        font-weight: 400;
        width: auto;
        padding: 0.3rem 1rem 0 0;
    }

    .#{$namespace}minicart-product__options-value {
        font-weight: 700;
    }

    .#{$namespace}minicart__edit-link,
    &__summary-edit .#{$namespace}button__wrapper span {
        font-weight: 400;
        font-size: 1.4rem;
        font-family: $font-family;
    }

    .#{$namespace}minicart-product__name {
        font-weight: 700;
        font-size: 1.5rem;
    }

    .#{$namespace}discount {
        @include media('>=tablet') {
            border-top: none;
        }
    }
}

.checkout-onepage-success {
    .page-title-wrapper {
        .print {
            display: none;
        }
    }
}
