.#{$namespace}checkout {
    $root: &;

    &__sidebar-inner {
        @include media('>=tablet') {
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
        }
    }

    &__subheadline {
        @extend .#{$namespace}t-headline;
        @extend .#{$namespace}t-headline--size_2;
    }

    &__auth-subheadline {
        @extend .#{$namespace}t-headline;
        @extend .#{$namespace}t-headline--size_2;
        @extend .#{$namespace}t-headline--look_light;
    }

    &__step-content {
        &--rates {
            @include media('>=tablet') {
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
            }
        }
    }

    &__step-form {
        @include media('>=tablet') {
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
        }
    }

    &__address {
        border-radius: 3px;
        border: 1px solid $colorAlto;

        &.selected-item {
            border: 1px solid $colorCeruleanBlue;

            .#{$namespace}input__label:before,
            .#{$namespace}input__label:after {
                border-color: $colorCeruleanBlue;
            }

            .#{$namespace}input__label:after {
                background-color: $colorCeruleanBlue;
            }
        }
    }

    &__address-text {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 2rem;
    }

    &__separator {
        background: $colorAlto;
    }

    .table-checkout-shipping-method {
        thead {
            border-bottom: none;
        }
    }

    &__summary-title {
        @extend .#{$namespace}t-headline;
        @extend .#{$namespace}t-headline--size_3;
        @extend .#{$namespace}t-headline--look_light;

        &--bordered {
            border-top: 1px solid $colorAlto;
        }
    }

    &__summary-title,
    &__summary-text {
        @extend .#{$namespace}t-text;
    }

    &__summary-edit {
        font-weight: 700;
    }

    &__summary-table {
        td,
        th {
            font-weight: 400;
            font-size: 1.4rem;
        }

        .grand {
            border-top: 1px solid $colorAlto;

            th,
            td {
                color: $colorMineShaft;
                font-weight: 700 !important;
                font-size: 1.5rem !important;
            }
        }
    }

    &__authentication {
        .action-auth-toggle {
            span {
                font-size: 1.4rem;

                @include media('>=tablet') {
                    font-size: 1.2rem;
                }
            }
        }

        .authentication-dropdown {
            border: none;

            .modal-inner-wrap {
                box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.27);
            }

            &:before {
                border: solid transparent;
                border-color: rgba(136, 183, 213, 0);
                border-top-color: $colorWhite;
                border-width: 1.4rem;
            }

            &:after {
                background: $colorWhite;
                box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.27);
            }
        }
    }

    &__estimation-block {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .payment-group .step-title {
        @extend .#{$namespace}t-headline;
        @extend .#{$namespace}t-headline--size_2;
    }

    &__place-order {
        border-bottom: 2px solid $colorAlto;
    }

    &__agreements {
        font-size: 1.2rem;
        border-top: 2px solid $colorAlto;
    }
}
