.#{$namespace}breadcrumbs {
    color: $color-text-light;
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
    padding-top: 0.7rem;

    &__item {
        font-size: 1.2rem;

        &:last-child {
            color: $color-text-light;

            &:hover {
                color: $color-text-light;
            }
        }

        &:not(:last-child):after {
            color: $color-text-light;
            transform: translateY(-50%) skew(20deg);
        }
    }

    &__link {
        color: $color-text-light;
        font-size: 1.2rem;

        &:visited {
            color: $color-text-light;
        }

        &:hover {
            color: $color-text-hover;
        }
    }
}
