<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="bundle.css">
    {% endblock %}
</head>
<body>
    {% block navigation %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block scripts %}
        <!-- Including all of the JS scripts -->
        <script src="modernizr.js"></script>
        <!-- Load jQuery from external CDN with chance that visitor already have it cached. Commented now for easier debugging -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> -->
        <!-- If load from CDN failed, load local version instead -->
        <script>window.jQuery || document.write('<script src="jquery.js"><\/script>')</script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="vendors.js"></script>
        <script src="bundle.js"></script>
    {% endblock %}
</body>
</html>
