/**
 * Footer-list component customization that is often included in footer component.
 * export-once mixin makes sure it is only included once in the styles.
 */

.#{$namespace}footer-list {
    $root: &;

    &__link {
        font-size: 1.4rem;
        color: $color-footer-text;

        &:visited,
        &:hover {
            text-decoration: none;
        }

        &:visited {
            color: $color-footer-text;
        }

        &:hover {
            color: $color-footer-text-hover;
        }
    }

    &__item {
        margin-bottom: 0.5rem;
    }
}
