.#{$namespace}offcanvas-navigation {
    $root: &;

    &__item {
        & + & {
            border-top: 1px $colorAlto solid;
        }

        &:last-of-type {
            border-bottom: 1px $colorAlto solid;
        }

        &-lang-switcher {
            padding: 2rem 1.8rem;
        }
    }

    &__icon {
        fill: $color-first;
    }

    &__link {
        font-size: 1.4rem;
        text-transform: none;
        font-weight: 400;
        color: $color-link;

        &,
        &:hover,
        &:visited {
            color: $color-link-hover;
            text-decoration: none;
        }

        &--sign-in,
        &--sign-out {
            &,
            &:hover,
            &:visited {
                color: $color-link-hover;
            }
        }

        &--parent {
            font-weight: 400;
            text-transform: none;
        }
    }

    &__product-qty {
        font-weight: 400;
        color: $colorGray;
    }
}
