.#{$namespace}header-user-area {
    font-size: 1.3rem;
    padding: 0 0.5rem;
    flex: 0;

    &__section {
        padding: 0.5rem 1.8rem 0;
        width: min-content;
        border-left: 0.1rem solid $color-line;

        @include media('<tablet') {
            padding: 0.5rem 1rem 0;
        }

        &:hover {
            .#{$namespace}header-user-area__icon--my-account {
                fill: $color-icon-first-hover;
            }

            .#{$namespace}header-user-area__icon--minicart {
                fill: $color-icon-second-hover;
            }

            .minicart-non-empty {
                .#{$namespace}header-user-area__icon--minicart {
                    fill: $color-icon-active;
                }
            }

            .minicart-non-empty {
                .#{$namespace}badge--info {
                    background-color: $color-icon-active;
                }
            }

            .#{$namespace}badge--info {
                background-color: $color-icon-second-hover;
            }
        }

        &--minicart {
            @include media('>=laptop') {
                padding-right: 0;
                min-width: 5rem;
            }
        }
    }

    &__icon {
        fill: $color-icon-second;

        &--my-account {
            fill: $color-icon-first;
        }
    }

    &__label {
        color: $color-paragraph;
        text-decoration: none;
        font-size: 1.1rem;
        text-transform: capitalize;
        padding-top: 0.5rem;

        &:hover {
            text-decoration: none;
        }

        @include media('>=tablet') {
            display: block;
        }

        &--minicart {
            padding-right: 3rem;
        }
    }

    &__badge {
        display: block;
        left: 55%;
        z-index: 2;

        @include media('>=laptop') {
            left: 65%;
        }
    }

    .ui-dialog {
        top: 4rem;
        right: 0.5rem;

        @include media('>=laptop') {
            bottom: auto;
            right: auto;
        }
    }

    .#{$namespace}switcher-language {
        order: -1;
    }
}
