.#{$namespace}header-user-area {
    font-size: 1.3rem;
    padding: 0 0.5rem;
    flex: 0;

    &__section {
        padding: 0.5rem 1.8rem 0;
        width: min-content;
        border-left: 0.1rem solid $color-border-second;

        &:hover {
            text-decoration: none;

            .#{$namespace}header-user-area__icon--my-account {
                fill: $color-icon-first-hover;
            }

            .#{$namespace}header-user-area__icon--minicart {
                fill: $color-icon-second-hover;
            }
        }

        &--minicart {
            @include media('>=laptop') {
                padding-right: 0;

                &:hover {
                    svg {
                        color: $color-text-hover;
                    }
                }
            }
        }

        &--my-account {
            .#{$namespace}header-user-area__icon--my-account {
                &:hover {
                    fill: $color-icon-first-hover;
                }
            }
        }
    }

    &__icon {
        fill: $color-icon-second;

        &--my-account {
            fill: $color-icon-first;

            &:hover {
                fill: $color-icon-first-hover;
            }
        }
    }

    &__label {
        color: $color-text-light;
        text-decoration: none;
        font-size: 1rem;
        text-transform: capitalize;
        padding-top: 0.5rem;

        &:hover {
            text-decoration: none;
        }

        @include media('>=tablet') {
            display: block;
        }

        &--minicart {
            padding-right: 3rem;
        }
    }

    &__badge {
        display: block;
        left: 65%;
    }
}
