//In parent theme we have more general modifications, usually connected with structure. Also colors are placed here bceuae then they are replace in config/colors.scss file
.#{$namespace}image-teaser {
    $root: &;
    font-family: $font-family;
    padding-bottom: $base-space;
    padding-top: $base-space;
    margin-top: 0;
    margin-bottom: 0;

    .#{$namespace}container--image-teaser
        ~ .#{$namespace}container--image-teaser
        & {
        padding-top: 0;
    }

    // Smaller padding for the first teaser in top content constructor on categorypage
    .#{$namespace}category-page__cc-top
        .#{$namespace}container--image-teaser:first-child
        & {
        padding-top: 1rem;
    }

    // Tablet in vertical position is too thin to show text on slide without image. There is and adjustment below to show full headline, text and button
    &--items-in-row-2
        #{$root}__slide:not(#{$root}__slide--image-uploaded)
        #{$root}__content-wrapper {
        @include media('>=tablet', '<laptop-lg') {
            position: static;
            left: 0;
            transform: none;
            padding-top: 0;
        }
    }

    &--items-in-row-2
    #{$root}__slide:not(#{$root}__slide--image-uploaded)
    #{$root}__headline {
        @include media('>=tablet', '<laptop-lg') {
            padding-top: 0;
        }
    }

    &--cms-pages {
        &#{$root}--items-in-row-4,
        &#{$root}--items-in-row-2 {
            #{$root}__slide {
                &:nth-child(2n + 1) {
                    margin-right: 0.7rem;
                }
            }
        }

        @include media('>=tablet') {
            &#{$root}--items-in-row-2 {
                #{$root}__slide {
                    &:nth-child(2n + 1) {
                        margin-right: 1rem;
                    }

                    &:nth-child(n + 3) {
                        margin-top: 1rem !important;
                    }
                }
            }

            &#{$root}--items-in-row-4 {
                #{$root}__slide {
                    width: calc(100% / 4 - 1rem) !important;

                    &:nth-child(4n + 1),
                    &:nth-child(4n + 2),
                    &:nth-child(4n + 3) {
                        margin-right: 1.33rem;
                    }

                    &:nth-child(4n + 4) {
                        margin-right: 0;
                    }

                    &:nth-child(n + 5) {
                        margin-top: 1.33rem;
                    }
                }
            }
        }

        #{$root}__content {
            width: 100%;
        }

        #{$root}__content-wrapper {
            width: 100%;
            padding: 0 !important;

            #{$root}__headline {
                padding: 1.4rem 1rem 1.3rem !important;
                font-size: 1.4rem;
                background: rgba(255, 255, 255, 0.65) !important;
                max-width: 100% !important;
                text-align: center;
                margin-left: 0 !important;

                @include media('>=phone') {
                    font-size: 1.6rem;
                }

                @include media('>=phone-lg') {
                    font-size: 1.9rem;
                }

                @include media('>=tablet') {
                    font-size: 1.7rem;
                }

                @include media('>=laptop') {
                    font-size: 1.9rem;
                }
            }
        }
    }

    // Bigger spaces between slides in some scenarios
    @include media('>=tablet') {
        &--items-in-row-2 {
            &:not(#{$root}--slider) {
                #{$root}__slide {
                    width: calc(50% - 1rem);
                }
            }
        }

        &--items-in-row-3 {
            &:not(#{$root}--slider) {
                #{$root}__slide {
                    width: calc(33.3% - 1.33rem);
                }
            }
        }

        &--items-in-row-4 {
            &:not(#{$root}--slider) {
                #{$root}__slide {
                    width: calc(100% / 4 - 1rem);
                }
            }
        }
    }

    // That is an element I want to position buttons
    &__carousel {
        position: relative;
    }

    &__slide {
        margin-bottom: 0 !important; //ul > li has margin bottom in Magento styles

        #{$root}--items-in-row-mobile-1 &,
        #{$root}--items-in-row-mobile-2.cs-image-teaser--items-in-row-mobile-2:not(#{$root}--slider)
            & {
            @include media('<tablet') {
                margin-bottom: 0.8rem !important;
            }
        }

        //Do not center text and image when text is outside image
        #{$root}__wrapper--content-display-outside & {
            align-content: flex-start;
            @include media('>=tablet') {
                margin-bottom: 0;
            }
        }
    }

    &__slide-link {
        text-decoration: none;
    }

    &__content-wrapper {
        color: $color-teaser-dark-scheme-headline;

        #{$root}__wrapper--content-display-outside & {
            background-color: transparent;

            @include media('>=tablet') {
                padding-bottom: 0;
            }
        }
    }

    &__headline {
        text-transform: none;
        color: $color-teaser-dark-scheme-headline;

        #{$root}__slide--scheme-light & {
            color: $color-teaser-light-scheme-headline;
        }

        #{$root}:not(#{$root}--items-in-row-1)
            #{$root}__wrapper--content-display-inside
            #{$root}__content-wrapper--content-display-scenario-1
            &,
        #{$root}:not(#{$root}--items-in-row-1)
            #{$root}__wrapper--content-display-inside
            #{$root}__content-wrapper--content-display-scenario-2
            & {
            background-color: transparent;

            &:after {
                display: none;
            }
        }

        #{$root}__wrapper--content-display-inside & {
            text-transform: none;
        }

        #{$root}--items-in-row-2
            #{$root}__wrapper--content-display-inside
            #{$root}__content-wrapper--content-display-scenario-1
            &,
        #{$root}--items-in-row-2
            #{$root}__wrapper--content-display-inside
            #{$root}__content-wrapper--content-display-scenario-2
            & {
            max-width: 100% !important;
        }
    }

    &__subheadline {
        color: $color-teaser-dark-scheme-subheadline;
        text-decoration: none;

        #{$root}__slide--scheme-light & {
            color: $color-teaser-light-scheme-subheadline;
        }
    }

    &__text {
        color: $color-teaser-dark-scheme-text;
        text-decoration: none;

        #{$root}__slide--scheme-light & {
            color: $color-teaser-light-scheme-text;
        }
    }

    &__nav {
        border-radius: 0;
        box-shadow: none;
        transform: translateY(-50%);
        margin-top: 0 !important;

        @include media('>=tablet') {
            width: 5rem;
            height: 5rem;
        }

        &:hover:not(#{$root}__nav--disabled) {
            transform: translateY(-50%) scale(1.15);
        }

        &:hover,
        &:active,
        &:focus {
            border: none;
            box-shadow: none;
        }

        &--disabled {
            &:hover {
                transform: none !important;
            }
        }

        &-icon {
            fill: $color-pagination-arrow;

            #{$root}__nav--large & {
                width: 2.3rem;
                height: 1.9rem;

                @include media('>=phone-lg') {
                    width: 2.3rem;
                    height: 1.9rem;
                }

                @include media('>=tablet') {
                    width: 2.3rem;
                    height: 1.9rem;
                }
            }
        }

        &--prev {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            border-left: 1px solid $colorConcrete;
            left: 0;

            &:hover,
            &:active,
            &:focus {
                border-left: 1px solid $colorConcrete;
            }
        }

        &--next {
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            border-right: 1px solid $colorConcrete;
            right: 0;

            &:hover,
            &:active,
            &:focus {
                border-right: 1px solid $colorConcrete;
            }
        }
    }

    &__pagination {
        margin-top: 0;

        &-item {
            border-radius: 50%;
            background-color: $colorConcrete;
            transform: skew(0deg);
            width: 0.5rem;
            height: 0.5rem;
            border: 0.6rem solid $colorConcrete;
            margin-right: 1rem;
            margin-top: 2rem;

            &:focus,
            &:active,
            &:hover {
                @include media('<tablet') {
                    background-color: $colorConcrete !important;
                    border: 0.6rem solid $colorConcrete !important;
                    outline: none;
                }
            }

            &:focus,
            &:active {
                background-color: $colorConcrete;
                border: 0.6rem solid $colorConcrete;
            }

            &:hover {
                background-color: $colorConcrete;
                border: 0.6rem solid $colorConcrete;
                box-shadow: none;

                @include media('>=tablet') {
                    background-color: $color-pagination-active;
                    border: 0.6rem solid $color-pagination-active;
                    box-shadow: none;
                }
            }

            &--active {
                background-color: $color-pagination-active;
                border: 0.6rem solid $colorConcrete;
                box-shadow: none;

                &:hover,
                &:focus,
                &:active {
                    background-color: $color-pagination-active !important;
                }
            }
        }

        &-button {
            width: 1.2rem;
            height: 1.2rem;
            -webkit-tap-highlight-color: transparent;

            &:hover {
                width: 1.2rem;
                height: 1.2rem;
                border: none;
            }
        }
    }

    &__number {
        margin-top: 1rem;
        display: inline-block;

        &--current {
            color: $color-pagination-arrow;
        }
    }

    .#{$namespace}button__icon {
        display: none;
    }
}
