.#{$namespace}image-teaser {
    $root: &;

    &--cms-pages {
        #{$root}__headline {
            color: $colorWhite;
            line-height: 120%;
        }

        #{$root}__slides {
            justify-content: space-between !important;
        }

        #{$root}__slide {
            @include media('>=tablet') {
                width: calc(50% - 0.5rem) !important;
            }
        }
    }
}
