.#{$namespace}product-gallery {
    $root: &;
    min-height: 20rem;

    &__container {
        margin-bottom: 3rem;
        padding: 0;

        @include media('>=tablet', '<laptop') {
            margin-top: 2rem;
        }
    }

    &__wrapper {
        @include media('<tablet') {
            width: 100%;
        }

        @include media('>=tablet') {
            width: 55%;
        }

        @include media('>=laptop') {
            width: 50%;
        }

        @include media('>=laptop-lg') {
            width: calc(100% - 53rem);
        }
    }
}

.fotorama {
    $root: &;

    &__stage__frame &__img {
        max-width: 39rem;
        max-height: 39rem;
        top: 1rem !important;
        transform: translate3d(-50%, 0%, 0) !important;

        @include media('>=tablet', '<laptop') {
            max-width: 30rem !important;
            max-height: 30rem !important;
        }
    }

    &__nav--thumbs &__nav__frame {
        width: 7.6rem !important;
        height: 7.6rem !important;
    }

    &__stage {
        @include media('>=tablet') {
            max-height: 39rem !important;
        }
    }

    &__nav-wrap--vertical {
        width: 7.6rem;
        padding: 1rem 0;
    }

    &__thumb {
        width: 5.7rem !important;
        height: 5.7rem !important;
        margin: 0.8rem !important;
    }

    &__arr--prev {
        .fotorama__arr__arr {
            background-image: url('images/arrow_prev.svg') !important;
        }
    }

    &__arr--next {
        .fotorama__arr__arr {
            background-image: url('images/arrow_next.svg') !important;
        }
    }

    &__nav {
        @include media('<tablet') {
            width: 100% !important;
            padding: 2rem 0 0;
            height: auto !important;
            text-align: center;
        }

        &__frame {
            box-sizing: border-box !important;

            @include media('<tablet') {
                box-sizing: border-box;
                border-radius: 50%;
                background-color: $colorMercury;
                transform: skew(0deg);
                width: 1.2rem !important;
                height: 1.2rem !important;
                border: 0.5rem solid $colorMercury;
                margin-right: 1rem;

                &.fotorama__active {
                    background-color: $color-pagination-active;
                    border: 0.5rem solid $color-pagination-active;

                    @include media('>=tablet') {
                        background-color: $color-pagination-active;
                    }
                }

                &:hover {
                    background-color: $color-pagination-arrow;
                    border: 0.5rem solid $color-pagination-arrow;

                    @include media('>=tablet') {
                        background-color: $color-pagination-active;
                    }
                }
            }

            &--thumb {
                border: 1px solid $color-line;

                &[data-active='true'] {
                    border-color: $color-icon-first;
                }
            }
        }
    }
}
