.#{$namespace}list {
    $root: &;

    &--menu {
        border-bottom: 1px solid $color-line;
    }

    &--menu-dark {
        border-bottom: 1px solid $color-line;
    }

    &__item {
        font-size: 1.5rem;

        &--menu {
            font-size: 1.5rem;
            color: $color-paragraph;
            border-right: 1px solid $color-line;
        }

        &--menu-dark {
            border-right: 1px solid $color-line !important;
        }
    }

    &__link {
        color: $color-paragraph !important;
        text-decoration: none;

        &:hover,
        &:visited,
        &:active {
            color: $color-paragraph !important;
            text-decoration: none;
        }
    }

    &__bullet {
        &--tick {
            fill: $color-icon-active;
        }

        &--close {
            fill: $color-paragraph;
        }
    }
}
