.#{$namespace}links-block-addto {
    $root: &;

    &__link {
        font-size: 1.2rem;
        color: $colorDoveGray;

        &:hover {
            color: $colorCeruleanBlueHover;
            text-decoration: none;
        }
    }

    &__icon {
        fill: $colorGray;

        &--wishlist {
            fill: $colorCrimson;
        }

        &--compare {
            fill: $colorCeruleanBlue;
        }
    }
}
