.#{$namespace}links-block-addto {
    $root: &;

    &__link {
        font-size: 1.5rem;
        color: $color-paragraph;

        &:hover {
            color: $color-link-hover;
        }
    }

    &__icon {
        fill: $color-icon-first;

        &--wishlist {
            fill: $color-error;
        }

        &--compare {
            fill: $color-link;
        }
    }
}
