.#{$namespace}reviews {
    &__title {
        background: $colorGallery;
    }

    &__label {
        line-height: 4rem;
    }

    &__item {
        border-bottom: 1px solid $color-line;
    }

    &__legend {
        margin-bottom: 1rem !important;

        span {
            color: $color-link;
        }
    }

    &__legend-product-name {
        font-weight: 700;
    }

    &__rate-feedback {
        font-size: 1.08rem;
        font-weight: 700;
        color: $colorGray;
    }
}

.review-control-vote {
    background: $colorWhite;
    border-radius: 3px;

    @include media('>=tablet') {
        background: $colorConcrete;
    }

    &:before,
    label:before {
        font-size: 4rem;
        line-height: 1;
    }

    &:before {
        color: $color-line;
    }

    label:before {
        color: $colorMySin;
    }
}
