.#{$namespace}table {
    $root: &;
    $rootNoChangeMobile: #{$root}--no-change-mobile;
    font-size: 1rem;

    &--tablet-small {
        @include media('<laptop') {
            border: none;
            font-size: 1.4rem;
        }

        #{$root}__col {
            @include media('<laptop') {
                font-size: 1.4rem;
            }

            &:before {
                @include media('<laptop') {
                    color: $color-paragraph;
                    font-weight: 700;
                }
            }

            &--actions {
                @include media('<laptop') {
                    border-bottom: 1px solid $color-line;
                }
            }
        }
    }

    &--cart {
        @include media('>=tablet') {
            border-top: 1px solid $color-line;
        }
    }

    &__head {
        border-bottom: 2px solid $color-line;
    }

    &__col-head {
        @extend .#{$namespace}t-headline--size_5;
        text-transform: uppercase !important;
    }

    &__col {
        font-size: 1.4rem;
        color: $color-paragraph;
        font-weight: 400;
        border-bottom: 1px solid $color-line;

        #{$root}:not(#{$rootNoChangeMobile}) & {
            &:before {
                @include media('<tablet') {
                    color: $color-paragraph;
                    font-weight: 700;
                }
            }
        }

        @include media('>=laptop') {
            font-size: 1.4rem;
        }

        &--attention {
            font-weight: 700;
            color: $color-paragraph;
        }

        &--actions {
            @include media('<tablet') {
                border-bottom: 1px solid $color-line;
            }
        }

        &.price {
            .price {
                font-weight: 400;
                font-size: 1.4rem;
            }
        }

        &.subtotal,
        &.total {
            .price {
                color: $color-paragraph;
                font-size: 1.4rem;
            }
        }
    }

    &__tbody {
        border-bottom: 1px solid $color-line;
    }

    &__foot {
        font-size: 1.4rem;
        @include media('<tablet') {
            background: $colorGallery;
        }
    }

    tr {
        line-height: 2.4;
    }
}

.#{$namespace}table-border {
    $root: &;
    border-right: 0.1rem solid #d1d1d1 !important;
}
