//If you want to change default creativeshop setting edit below part

/* This map contains breakpoint names as keys according to the breakpoints map for RWD
 * Value represens count of columns per row for given breakpoint
 * If you need to show all products for given breakpoint, the value should be 0
 * */
$colsByBreakpoint: (
    phone: 1,
    phone-lg: 2,
    tablet: 3,
    laptop: 4,
    laptop-lg: 4,
    desktop: 4,
    tv: 4
);

/* This map contains breakpoint names as keys according to the breakpoints map for RWD
 * Value represens size of hero item for given breakpoint
 * If you don't have any hero items in your project, put 'none' as value for all keys
 * */
$heroSizeByBreakpoint: (
    phone: 0,
    phone-lg: 0,
    tablet: 2,
    laptop: 2,
    laptop-lg: 2,
    desktop: 2,
    tv: 2
);
$fontSizeBaseHeadline: 13vw;
$fontSizeBaseSubheadline: 9vw;

//If you want to change default creativeshop setting edit below part

.#{$namespace}products-grid {
    $root: &;
    padding-top: $base-space;
    padding-bottom: $base-space;

    /* Get Basic styles and show only N first rows logic
     * @param $colsByBreakpoint { map } - columns configuration for each breakpoint
     * @param $heroSizeByBreakpoint { map } - hero size (how many tiles it take) for each breakpoint
     * REMOVE INCLUDE FROM YOUR TEMPLATE IF YOU WOULD LIKE TO KEEP CREATIVESHOP SETTINGS
    */
    @include productsGrid(
        $colsByBreakpoint,
        $heroSizeByBreakpoint,
        $fontSizeBaseHeadline,
        $fontSizeBaseSubheadline
    );

    &__hero {
        &-headline {
            color: $color-teaser-dark-scheme-headline;
            font-size: 2.5rem !important;
            max-width: 100%;

            #{$root}__hero--scheme-light & {
                color: $color-teaser-light-scheme-headline !important;
            }

            #{$root}__hero-content-wrapper--variant-3 &,
            #{$root}__hero-content-wrapper--variant-4 & {
                width: 100%;
                text-align: center;
            }
        }

        &-subheadline {
            color: $color-teaser-dark-scheme-subheadline;
            font-size: 1.8rem !important;
            margin: 2rem 0 1.5rem;
            max-width: 100%;

            #{$root}__hero--scheme-light & {
                color: $color-teaser-light-scheme-subheadline !important;
            }

            #{$root}__hero-content-wrapper--variant-3 &,
            #{$root}__hero-content-wrapper--variant-4 & {
                width: 100%;
                text-align: center;
            }
        }

        &-text {
            color: $color-teaser-dark-scheme-text;
            line-height: 150%;
            max-width: 100%;

            #{$root}__hero--scheme-light & {
                color: $color-teaser-light-scheme-text !important;
            }

            #{$root}__hero-content-wrapper--variant-3 &,
            #{$root}__hero-content-wrapper--variant-4 & {
                width: 100%;
                text-align: center;
            }
        }

        &-content-wrapper {
            @include media('>=laptop') {
                padding: 2.7rem 3rem;
            }

            @include media('>=laptop-lg') {
                padding: 2.7rem 4.5rem;
            }
        }
    }

    &__item {
        &:before {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background-color: $colorConcrete;
            z-index: 6;
            content: '';
        }

        @include media('>=phone-lg', '<tablet') {
            &:nth-child(2n + 2) {
                &:before {
                    display: block;
                }
            }
        }

        @include media('>=tablet', '<laptop') {
            &:nth-child(3n + 2),
            &:nth-child(3n + 3) {
                &:before {
                    display: block;
                }
            }
        }

        @include media('>=laptop') {
            &:before {
                display: block;
            }

            &:nth-child(4n + 1) {
                &:before {
                    display: none;
                }
            }
        }
    }

    &__button-icon {
        display: none;
    }
}
