{% set items = [] %}
{% set teasersConfig = '' %}

{% set columnsConfig = '{
    "phone": 1,
    "phoneLg": 2,
    "tablet": 3,
    "laptop": 4,
    "laptopLg": 4,
    "desktop": 4,
    "tv": 4
}' %}

{% for product in products %}

    {% set productMix = 'cs-products-grid__item' %}
    {% set bottompart = product.addToCartButtonHtml %}
    {% set badges = [] %}
    {% set dailyDealHtml = '' %}

    {% if product.dailyDealOffer is not empty and product.dailyDealOffer.deal and product.dailyDealOffer.displayType != 'none' %}
        {% if product.dailyDealOffer.displayType == 'badge' %}
            {% set itemsLimit = product.dailyDealOffer.items and product.dailyDealOffer.items > 0 ? '<span class="cs-badge">
                <span class="cs-badge__span">' ~ translate('%1 item(s) left', product.dailyDealOffer.items) ~ '</span>
            </span>' : '' %}

            {% set badges = badges|merge( [ {
            mix: 'cs-multiple-badges',
            content: '<span class="cs-badge cs-badge--attention cs-badge--limited-offer">
                            <span class="cs-badge__span">' ~ translate('Limited offer!') ~ ' </span>
                        </span>' ~ itemsLimit
            } ] ) %}
        {% else %}
            {% set dailyDealHtml %}
                {% include locate( 'dailydeal/dailydeal.twig' ) with {
                'namespace': 'cs-',
                'mix': 'cs-dailydeal--tile',
                'header': {
                'show': true,
                },
                'items': {
                'textBefore': '',
                'textAfter': translate('items left'),
                'amount': product.dailyDealOffer.items
                },
                'deal': {
                'end': product.dailyDealOffer.to
                }
                } %}
            {% endset %}
        {% endif %}
    {% endif %}

    {% if product.getSalePercentage > 0 %}
        {% set badges = badges|merge( [ {
        content: '<div class="cs-grid-product__badge cs-badge cs-badge--discount">
                            <span class="cs-badge__span">-' ~ product.getSalePercentage ~ '%</span>
                    </div>' } ] ) %}
    {% endif %}

    {% if product.popularIconFlag %}
        {% set badges = badges|merge( [ {
        content: '<span class="cs-badge cs-badge--positive"><span class="cs-badge__span">' ~ translate('Bestseller') ~ '</span></span>'
        } ] ) %}
    {% endif %}

    {% if product.getIsNewProduct %}
        {% set badges = badges|merge( [ {
        content: '<div class="cs-grid-product__badge cs-badge cs-badge--new">
                            <span class="cs-badge__span">' ~ translate('New') ~ '</span>
                    </div>' } ] ) %}
    {% endif %}

    {% set warningIcons ='' %}
    {% for ghs in product.ghs %}
        {% set warningIcons = warningIcons ~
            '<svg class="cs-warnings__icon"><use href="#' ~ ghs|lower ~ '"></use></svg>'            
        %}
    {% endfor %}

    {% set warningLink = '' %}
    {% if product.ghs|length > 0 %}
        {% set warningLink = '
            <a href="' ~ product.url ~ '#warnings-section" class="cs-grid-product__warning-text">
                ' ~ translate('hints') ~ '
            </a>'
        %}
    {% endif %}

    {% set content %}
        {% include locate( 'grid-product/grid-product.twig' ) with {
            namespace: 'cs-',
            lazyload: true,
            showWrapper: true,
            tag: 'div',
            url: product.url,
            image: {
                src: product.image,
                alt: product.name,
            },
            name: product.name,
            priceMoved: true,
            hotspots: {
                after: {
                    name: '
                    <div class="cs-grid-product__info">
                        ' ~ product.price ~ '
                        ' ~ bottompart ~'
                    </div>',
                    price: 
                    '<div class="cs-grid-product__warning">
                        <div class="cs-grid-product__warning-icons-wrapper">
                            ' ~ warningIcons ~ '
                        </div>
                        <div>
                            ' ~ warningLink ~ '
                        </div>
                    </div>'
                }
            }
        } %}
    {% endset %}

    {% set items = items|merge( [ {
    mix: productMix,
    content: content
    } ] ) %}
{% endfor %}

{% if hero is defined %}
    {% set teasersConfig = '[
        {
            "id": 1,
            "mobile": false,
            "size": {
                "x": 1,
                "y": 1
            },
            "gridPosition": {
                "x": "' ~ hero.position ~ '",
                "y": 1
            }
        }
    ]' %}

    {% set hero = hero|merge( {
        button: {
            label: hero.button.label,
            class: 'cs-button cs-button--type_long cs-button--look_default | cs-products-grid__button',
            labelClass: 'cs-button__span',
            icon: {
                class: 'cs-button__icon | cs-products-grid__button-icon',
                src: '#arrow_next'
            }
        },
        mix: 'cs-grid-layout__brick--x1 cs-grid-layout__brick--teaser | cs-products-grid__hero',
        teaserId: 1
    } ) %}
{% endif %}


{% include locate( 'components/products-grid/products-grid.twig' ) with {
    namespace: 'cs-',
    items: items,
    hero: hero,
    columnsConfig: columnsConfig,
    teasersConfig: teasersConfig
} %}
