.#{$namespace}special-attributes {
    padding: 2.5rem 0 3rem;
    border-top: 1px solid $color-line;
    border-bottom: 2px solid $color-line;
    display: block;

    ul {
        padding-left: 0;
        margin-bottom: 0;
    }
}
