.#{$namespace}cms-block {
    ul {
        color: $colorDoveGray;

        li {
            &:before {
                background-image: url('images/check@2x.png');
                background-size: 1.2rem auto;
            }
        }
    }

    ol {
        list-style: decimal inside;
        color: $colorDoveGray;
    }

    strong {
        color: $colorMineShaft;
        font-weight: 700;
    }
}
