.#{$namespace}cms-block {
    ul {
        color: $color-paragraph;

        li {
            padding: 0.2rem 1.5rem 0.2rem 2rem;
            color: $color-paragraph;
            position: relative;
            font-size: 1.5rem;

            &:before {
                background-image: none;
                content: '•';
                color: $color-link;
                display: inline-block;
                width: 1rem;
                line-height: 1rem;
                position: absolute;
                top: 0.5rem;
                left: 0;
            }
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 160%;
        color: $color-paragraph;
    }

    &.#{$namespace}special-attributes,
    &.#{$namespace}special-attributes p {
        color: $color-paragraph;
        font-size: 1.5rem;
    }
}
