.#{$namespace}cms-block {
    $root: &;

    #{$root}__lead {
        line-height: 150%;
        font-weight: 300;
        color: $colorMineShaft;
        font-size: 1.8rem;

        @include media('>=tablet') {
            font-size: 2.5rem;
            padding: 0.5rem 4.5rem;
        }

        @include media('>=laptop') {
            font-size: 2.9rem;
        }
    }

}