.#{$namespace}hero {
    $root: &;

    &__content-wrapper {
        width: 75%;

        @include media('>=tablet') {
            padding: 4rem 6.5rem;
        }

        @include media('>=laptop') {
            padding: 4rem 9.5rem;
        }

        &--variant-1,
        &--variant-3 {
            @include media('>=tablet') {
                max-width: 52rem;
            }

            @include media('>=laptop') {
                max-width: 62rem;
            }
        }
    }

    &__headline {
        line-height: 100%;
        font-weight: 700;
        color: $color-hero-dark-scheme-headline;
        font-size: 5vw;

        #{$root}__slide--scheme-light & {
            color: $color-hero-light-scheme-headline;
        }

        @include media('>=tablet') {
            font-size: 4.5vw;
        }

        @include media('>=laptop') {
            font-size: 4.5rem;
            line-height: 5.5rem;
        }

        @include media('>=desktop') {
            font-size: 4.5rem;
        }

        @include media('>=tv') {
            font-size: 4.5rem;
            margin-bottom: 1rem;
        }
    }

    &__subheadline {
        line-height: 110%;
        font-weight: 300;
        color: $color-hero-dark-scheme-subheadline;
        font-size: 3.4vw;

        #{$root}__slide--scheme-light & {
            color: $color-hero-light-scheme-subheadline;
        }

        @include media('>=tablet') {
            font-size: 1.6rem;
            margin: 1rem 0 0;
            line-height: 130%;
        }

        @include media('>=laptop') {
            font-size: 1.7rem;
            line-height: 170%;
            margin: 2rem 0 1.5rem;
        }

        @include media('>=desktop') {
            font-size: 1.7rem;
        }

        @include media('>=tv') {
            font-size: 1.7rem;
            margin-bottom: 1rem;
        }
    }

    &__text {
        font-weight: 300;
        color: $color-hero-dark-scheme-text;

        #{$root}__slide--scheme-light & {
            color: $color-hero-light-scheme-text;
        }
    }

    &__nav {
        border-radius: 0;
        box-shadow: none;
        transform: translateY(-50%) skew(0deg);
        margin-top: 0 !important;

        @include media('>=tablet') {
            width: 5rem;
            height: 5rem;
        }

        &:hover,
        &:active,
        &:focus {
            border: none;
            box-shadow: none;
        }

        &-icon {
            fill: $color-pagination-arrow;

            #{$root}__nav--large & {
                width: 2.3rem;
                height: 1.9rem;

                @include media('>=phone-lg') {
                    width: 2.3rem;
                    height: 1.9rem;
                }

                @include media('>=tablet') {
                    width: 2.3rem;
                    height: 1.9rem;
                }
            }
        }

        &--prev {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            border-left: 1px solid $colorConcrete;

            &:hover,
            &:active,
            &:focus {
                border-left: 1px solid $colorConcrete;
            }
        }

        &--next {
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            border-right: 1px solid $colorConcrete;

            &:hover,
            &:active,
            &:focus {
                border-right: 1px solid $colorConcrete;
            }
        }
    }

    &__pagination {
        &-item {
            border-radius: 50%;
            background-color: $colorWhite;
            transform: skew(0deg);
            width: 0.4rem;
            height: 0.4rem;
            border: 0.5rem solid $colorWhite;
            margin-right: 1rem;

            @include media('<tablet') {
                background-color: $colorConcrete;
                border: 0.5rem solid $colorConcrete;
            }

            &:focus,
            &:active {
                background-color: $colorWhite;
                border: 0.5rem solid $colorWhite;

                @include media('<tablet') {
                    background-color: $colorConcrete;
                    border: 0.5rem solid $colorConcrete;
                }
            }

            &:hover {
                background-color: $color-pagination-active-hero;
                border: 0.5rem solid $color-pagination-active-hero;
                box-shadow: none;

                @include media('<tablet') {
                    background-color: $colorConcrete;
                    border: 0.5rem solid darken($colorConcrete, 10%);
                }

                @include media('>=tablet') {
                    background-color: $color-pagination-active-hero;
                }
            }

            &--active {
                background-color: $color-pagination-active-hero;
                border: 0.5rem solid $colorWhite;
                box-shadow: none;

                @include media('<tablet') {
                    border: 0.5rem solid $colorConcrete;
                }

                &:hover,
                &:focus,
                &:active {
                    background-color: $color-pagination-active-hero;
                }
            }
        }

        &-button {
            width: 1.2rem;
            height: 1.2rem;

            &:hover {
                width: 1.2rem;
                height: 1.2rem;
                border: none;
            }
        }
    }
}
