.#{$namespace}collapse {
    $root: &;

    &__trigger-icon {
        fill: $colorGray;
    }

    & &__trigger {
        &,
        &--in {
            &::before,
            &::after {
                background: $color-text-dark !important;
            }
        }

        &:hover,
        &--in:hover {
            &::before,
            &::after {
                background: $color-first-hover !important;
            }
        }
    }
}
