.#{$namespace}product-finder {
    $root: &;
    $product-finder_step-option-max-per-row: 6 !default;
    $product-finder_step-option-gap: 1.5rem !default;

    &__step-options {
        justify-content: center;
    }

    //Below is refactored code from magesuite. When theme-demo will be couples with magensuite it can be removed
    &__step-option {
        @for $i from 1 to $product-finder_step-option-max-per-row + 1 {
            $step-option-num-of-gaps: $i - 1;

            @include media('<tablet') {
                #{$root}__step--options-mobile_#{$i} & {
                    flex-basis: calc(
                            #{100% / $i} - #{$step-option-num-of-gaps * $product-finder_step-option-gap /
                            $i}
                    );
                    margin-right: $product-finder_step-option-gap;

                    &:nth-child(#{$i}n + #{$i}) {
                        margin-right: 0;
                    }
                }
            }
        }

        @for $i from 1 to $product-finder_step-option-max-per-row + 1 {
            $step-option-num-of-gaps: $i - 1;

            #{$root}__step--options-tablet_#{$i} & {
                @include media('>=tablet', '<laptop') {
                    flex-basis: calc(
                            #{100% / $i} - #{$step-option-num-of-gaps * $product-finder_step-option-gap /
                            $i}
                    );
                    margin-right: $product-finder_step-option-gap;

                    &:nth-child(#{$i}n + #{$i}) {
                        margin-right: 0;
                    }
                }
            }
        }

        @for $i from 1 to $product-finder_step-option-max-per-row + 1 {
            $step-option-num-of-gaps: $i - 1;

            #{$root}__step--options-desktop_#{$i} & {
                @include media('>=laptop') {
                    flex-basis: calc(
                            #{100% / $i} - #{$step-option-num-of-gaps * $product-finder_step-option-gap /
                            $i}
                    );
                    margin-right: $product-finder_step-option-gap;

                    &:nth-child(#{$i}n + #{$i}) {
                        margin-right: 0;
                    }

                    /**
                     * flex-basis does not respect box-sizing: border-box
                     * It is fixed on Edge but not on IE11:
                     * https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/106816/
                     * To properly calculate flex-basis we have to add gap (margin)
                     */
                    .ie11 & {
                        flex-basis: calc(
                                #{100% / $i} - #{$step-option-num-of-gaps * $product-finder_step-option-gap /
                                $i + $product-finder_step-option-gap}
                        );
                    }
                }
            }
        }
    }
}
