.#{$namespace}button-social {
    $root: &;
    transform: skew(0deg);
    padding: 0.8rem;
    min-width: 3.6rem;
    height: 3.6rem;
    margin: 0.5rem 0.2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:hover {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &--fb {
        background-color: $colorStTropaz;
        border-color: $colorStTropaz;
        background-image: url('images/facebook.svg');
        background-size: 0.9rem 1.8rem;

        &:hover {
            background-color: darken($colorStTropaz, 8%);
            border-color: darken($colorStTropaz, 8%);
            background-image: url('images/facebook.svg');
            background-size: 0.9rem 1.8rem;
        }
    }

    &--yt {
        background-color: $colorThunderbird;
        border-color: $colorThunderbird;
        background-image: url('images/you_tube.svg');
        background-size: 1.8rem 2.1rem;

        &:hover {
            background-color: darken($colorThunderbird, 8%);
            border-color: darken($colorThunderbird, 8%);
            background-image: url('images/you_tube.svg');
            background-size: 1.8rem 2.1rem;
        }
    }

    &__icon {
        display: none;
    }
}
