.#{$namespace}container {
    $root: &;

    &__reviews {
        @include media('>=tablet') {
            background: $colorWhite;
        }
    }

    &--contrast {
        background-color: $colorGallery;

        @include media('>=laptop') {
            background-image: url('images/background.png');
        }
    }

    &--breadcrumbs {
        background-image: url('images/breadcrumbs.png');
        background-size: auto 4.8rem;
    }
}
