.#{$namespace}container {
    $root: &;

    &--contrast {
        @include media('>=laptop') {
            background-image: none;
        }
    }

    &--breadcrumbs {
        background-image: none;
    }

    &--hero {
        padding: 0;

        #{$root}__inner {
            @include media('>=laptop') {
                width: 135rem;
                max-width: 100%;
                margin: 0 auto;
                padding: 0;
            }
        }
    }

    &--spacious {
        @include media('>=tablet') {
            padding-top: 0rem;
        }
    }
}
