.#{$namespace}container {
    $root: &;
    max-width: 135rem;

    @include media('>=laptop-lg') {
        margin: 0 auto;
    }

    & & {
        padding-left: 0;
        padding-right: 0;
    }

    &__inner {
        max-width: 113rem;
    }

    &--viewport-width {
        max-width: 100%;
    }

    &--contrast {
        @include media('>=laptop') {
            background-image: none;
        }
    }

    &--breadcrumbs {
        background-image: none;
        background-color: $colorGallery;
        max-width: 100%;
    }

    &--edge-to-edge {
        width: calc(100% + 3rem);
        margin: 0 -1.5rem;
        max-width: 135rem;

        @include media('>=laptop') {
            width: calc(100% + 3rem);
            margin: 0 -1.5rem;
        }

        @media (min-width: 1380px) {
            width: 135rem;
            margin: 0 -11rem !important;
        }
    }

    &--hero {
        padding: 0;

        #{$root}__inner {
            @include media('>=laptop') {
                width: 135rem;
                max-width: 100%;
                margin: 0 auto;
                padding: 0;
            }
        }
    }

    &--spacious {
        .catalog-product-view &,
        .cms-index-index & {
            @include media('>=tablet') {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    &__main-column {
        &--space-top {
            @include media('>=laptop') {
                padding-top: 2rem;
            }
        }
    }
}
