.#{$namespace}html-select {
    $root: &;

    &__trigger {
        @extend .cs-input__select;
        border-color: $color-input-border !important;

        &-text {
            color: $color-input-text;
        }

        #{$root}--open & {
            border-color: $color-select-border $color-select-border transparent $color-select-border !important;
        }

        &:hover {
            border-color: $color-select-border !important;

            #{$root}--open & {
                border-bottom-color: transparent !important;
            }
        }
    }

    &__trigger-caret {
        border-left-color: transparent;
    }

    &__trigger-caret-arrow {
        #{$root}--open & {
            &:before,
            &:after {
                background-color: $color-select-border;
            }
        }
    }

    &__menu {
        border-color: $color-select-border;

        &-item {
            &--header {
                #{$root}__menu-item-text {
                    @extend #{$root}__menu-link;
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    font-weight: 700;
                }
            }
        }

        &-link {
            color: $color-input-text;

            #{$root}__menu-item--selected & {
                color: $color-first-hover;
            }

            &:hover,
            &:focus,
            #{$root}__menu-item--focused & {
                color: $color-select-text-hover !important;
                background-color: $color-select-hover !important;
            }
        }

        &-text {
            line-height: 4rem;
        }
    }
}
