.#{$namespace}bundle-box {
    $root: &;

    &__title {
        @extend .#{$namespace}t-headline;
        @extend .#{$namespace}t-headline--size_2;
        @extend .#{$namespace}t-headline--look_bordered;
    }

    &__summary-content {
        border-bottom: 1px solid $colorAlto;
    }

    &__product-name {
        font-size: 1.6rem;
        font-weight: 700;

        .required & {
            &:after {
                color: $colorCrimson;
            }
        }
    }

    .product-name {
        font-size: 1.5rem;
        font-weight: 400;
        color: $colorMineShaft;
    }

    .price {
        font-weight: 700;
        color: $colorCeruleanBlue;
    }

    .price-notice {
        color: $colorMineShaft;
        font-size: 1.4rem;
    }

    &__required {
        font-size: 1.3rem;

        &:before {
            color: $colorCrimson;
        }
    }

    &__field {
        border-top: 1px solid $colorAlto;

        &:first-of-type {
            border-top: none;
        }
    }

    &__availability {
        font-size: 1.2rem;
        color: $colorDoveGray;

        &--unavailable {
            color: $colorCrimson;
        }
    }
}
