.#{$namespace}bundle-box {
    $root: &;

    &__summary-content {
        border-bottom: 1px solid $color-line;
    }

    &__product-name {
        .required & {
            &:after {
                color: $color-error;
            }
        }
    }

    .product-name {
        color: $color-headline;
    }

    .price {
        color: $color-special-price;
    }

    .price-notice {
        color: $color-headline;
        font-size: 1.4rem;
    }

    &__required {
        &:before {
            color: $color-error;
        }
    }

    &__field {
        border-top: 1px solid $color-line;
    }

    &__availability {
        font-size: 1.4rem;
        color: $color-paragraph;

        &--unavailable {
            color: $color-error;
        }
    }
}
