.#{$namespace}tabs {
    $root: &;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);

    &__title {
        background: $colorGallery;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27) inset;

        &--active {
            background: $colorWhite;
            box-shadow: none;

            #{$root}__title-link {
                color: $colorCeruleanBlue;

                &:visited {
                    color: $colorCeruleanBlue;
                }
            }
        }
    }

    &__title-link {
        color: $colorMineShaft;
        text-decoration: none;
        line-height: 4rem;
        font-weight: 700;
        font-size: 1.2rem;
        @include media('>=tablet') {
            font-size: 1.8rem;
            line-height: 5.5rem;
        }

        &:visited {
            color: $colorMineShaft;
        }

        &:hover {
            text-decoration: none;
        }
    }
}
