.#{$namespace}messages {
    $root: &;

    &__message {
        border-radius: 0.5rem;

        &--success {
            background-color: $color-success-background;
            background-image: url('images/brh-message-success-icon.svg');
            background-repeat: no-repeat;
            background-size: 1.5rem 1.2rem;
            border: 1px solid $color-success;
            color: $color-success;

            .#{$namespace}messages__text {
                color: $color-success;
            }
        }

        &--info {
            background-color: $color-warning-background;
            background-image: url('images/brh-message-info-icon.svg');
            background-repeat: no-repeat;
            background-size: 2rem 2rem;
            border: 1px solid $color-warning;
            color: $color-warning;

            .#{$namespace}messages__text {
                color: $color-warning;
            }
        }

        &--notice {
            background-color: $color-warning-background;
            background-image: url('images/brh-message-warning-icon.svg');
            background-repeat: no-repeat;
            background-size: 2rem 2rem;
            border: 1px solid $color-warning;
            color: $color-warning;

            .#{$namespace}messages__text {
                color: $color-warning;
            }
        }

        &--error {
            background-color: $color-error-background;
            background-image: url('images/brh-message-error-icon.svg');
            background-repeat: no-repeat;
            background-size: 2rem 2rem;
            border: 1px solid $color-error;
            color: $color-error;

            .#{$namespace}messages__text {
                color: $color-error;
            }
        }

        @include media('<tablet'){
            .#{$namespace}dashboard & {
                margin-top: 1rem;
            }
        }
    }

    &__text {
        font-size: 1.4rem;
    }
}
