.#{$namespace}background {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    box-sizing: border-box;

    &--white {
        background-color: $colorWhite;
    }

    &--contrast {
        background-color: $color-background-contrast;
        padding: 1.5rem;
        max-width: 135rem;
        margin-top: $base-space;
        margin-bottom: $base-space;

        @include media('>=tablet') {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        @include media('>=laptop') {
            width: calc(100% + 3rem);
            margin: $base-space -1.5rem;
        }

        @media (min-width: 1150px) {
            width: 100vw;
            margin: $base-space calc(((100vw - 100%) / 2) * -1);
        }

        @media (min-width: 1350px) {
            padding-left: 0;
            padding-right: 0;
            width: 133.5rem;
            margin: $base-space calc(((135rem - 113rem) / 2) * -1);
        }

        @media (min-width: 1380px) {
            width: 135rem;
        }

        @include media('<tablet') {
            width: calc(100% + 3rem);
            margin: 1rem -1.5rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        > div:not(.#{$namespace}container--edge-to-edge) {
            max-width: 115rem;
            margin-left: auto;
            margin-right: auto;
        }

        .#{$namespace}container--edge-to-edge {
            width: 100% !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}
